Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: skip changeset for private packages
  .changeset/config.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: assign individual accounts as code owners
  .github/CODEOWNERS
Due: none

chore: protect codeowners file itself
  .github/CODEOWNERS
Due: none

fix: codeowner pattern matched only dirs
  .github/CODEOWNERS
Due: none

chore: add wildcard pattern for community packages
  .github/CODEOWNERS
Due: none

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/wise-carrots-cross.md
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: ensure packages are published with provenance
  packages/components-react/package.json
  packages/lux-community-components-react/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs: add changeset
  .changeset/poor-lizards-help.md
Due: markdownlint, prettier --check

ci: opt in to pnpm v11 for pnpm audit with an environment variable
  .github/workflows/continuous-deployment.yml
Due: none

ci: don't persist credentials in actions/checkout
  .github/workflows/continuous-deployment.yml
Due: none

ci: configure dependabot cooldown
  .github/dependabot.yml
Due: none

ci: explicitly set persist-credentials to true
  .github/workflows/continuous-deployment.yml
Due: none

chore: allow kernteam to approve PRs
  .github/CODEOWNERS
Due: none

chore: align comments with rest of organization
  .github/CODEOWNERS
Due: none

Add kernteam to codeowners (#629)
  .github/CODEOWNERS
Due: none

chore: upgrade vitest (resolves GHSA-g8mr-85jm-7xhm)
  packages/lux-community-components-react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade vitest (major, resolves https://github.com/vitest-dev/vitest/security/advisories/GHSA-5xrq-8626-4rwp
  packages/lux-community-components-react/package.json
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: separate vitest config - with latest vitest it would otherwise produce a type error
  packages/lux-community-components-react/tsconfig.test.json
  packages/lux-community-components-react/vite.config.ts
  packages/lux-community-components-react/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Override Alert Icon colors
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: community members should be able to approve there own PR's
  .github/CODEOWNERS
Due: none

Override Alert Icon colors (#635)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(000000): Sample commit to test PR workflow
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(000000): Add sample change to test pr policy
  proprietary/design-tokens/src/imported/core/color.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: override shell-quote to 1.8.4
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add header specific environment text color
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed color reference
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added border to emphasize the selected state
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added custom border-width
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added side-bar-item-sub left padding token
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: setup zizmor
  .github/workflows/zizmor.yml
Due: none

chore: migrate to pnpm 11
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove workaround for npm audit endpoint (no longer needed with pnpm 11 as the default package manager)
  .github/workflows/continuous-deployment.yml
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
