Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): update utrecht alert tokens (#189)
  packages/storybook/src/web-components/button/button.mdx
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(releases): Update continuous-deployment.yml (#270)
  .github/workflows/continuous-deployment.yml
Due: none

feat(docs): Readme en documentatie op orde maken (#222)
  NOTICE.md
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/src/assets/angular.png
  packages/storybook/src/assets/figma.png
  packages/storybook/src/assets/github.png
  packages/storybook/src/assets/javascript.png
  packages/storybook/src/assets/npm.png
  packages/storybook/src/assets/react.png
  packages/storybook/src/assets/slack.png
  packages/storybook/src/assets/storybook.png
  packages/storybook/src/assets/vue.png
  packages/storybook/src/documentation/developer/versioning.mdx
  packages/storybook/src/documentation/faq.md
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/introduction.nlds.md
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  packages/storybook/src/styles/theme.css
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

(feat(components): new link component
  .changeset/stale-worms-glow.md
  packages/storybook/package.json
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/document/document.stories.tsx
  packages/storybook/src/web-components/document/tokens.json
  packages/storybook/src/web-components/link/link.mdx
  packages/storybook/src/web-components/link/link.stories.tsx
  packages/storybook/src/web-components/link/tokens.json
  packages/storybook/src/web-components/link/visual/States.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/document/document.scss
  packages/web-components-stencil/src/components/document/document.tsx
  packages/web-components-stencil/src/components/document/test/document.spec.tsx
  packages/web-components-stencil/src/components/link/link.scss
  packages/web-components-stencil/src/components/link/link.tsx
  packages/web-components-stencil/src/components/link/test/link.spec.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(components): LUX Alert en LUX Paragraph (#196)
  .changeset/swift-planets-think.md
  .github/workflows/continuous-deployment.yml
  package.json
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/CitationDocumentation.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/alert/alert.mdx
  packages/storybook/src/web-components/alert/alert.stories.tsx
  packages/storybook/src/web-components/alert/tokens.json
  packages/storybook/src/web-components/alert/visual/Types.tsx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/paragraph/paragraph.mdx
  packages/storybook/src/web-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/web-components/paragraph/tokens.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/alert/alert.scss
  packages/web-components-stencil/src/components/alert/alert.tsx
  packages/web-components-stencil/src/components/alert/test/alert.spec.tsx
  packages/web-components-stencil/src/components/paragraph/paragraph.scss
  packages/web-components-stencil/src/components/paragraph/paragraph.tsx
  packages/web-components-stencil/src/components/paragraph/test/paragraph.spec.tsx
  packages/web-components-stencil/src/icons/error.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/icons/info.tsx
  packages/web-components-stencil/src/icons/mail.tsx
  packages/web-components-stencil/src/icons/success.tsx
  packages/web-components-stencil/src/icons/warning.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/paragraph.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-document.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore(releases): add canary releases (#246)
  .github/workflows/continuous-deployment.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(components): Utrecht React components toevoegen (#266)
  packages/components-react/README.md
  packages/components-react/package.json
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/README.md
  proprietary/font/README.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove alpha version tags (#274)
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): supply lux wrapper component (#192)
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/documentation/developer/community-component-aanleveren.mdx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore(release): NPM Publish prep (#224)
  packages/web-components-react/README.md
  packages/web-components-react/package.json
  packages/web-components-stencil/README.md
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): update link tokens (#190)
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(docs): Update semver docs with canary releases (#271)
  SEMVER.md
Due: markdownlint, prettier --check

React components/heading group (#320)
  .changeset/good-windows-smash.md
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/heading-group/HeadingGroup.tsx
  packages/components-react/src/heading-group/test/HeadingGroup.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/pre-heading/PreHeading.tsx
  packages/components-react/src/pre-heading/test/PreHeading.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/heading-group/heading-group.mdx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/pre-heading/pre-heading.mdx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Heading stijling update (#332)
  .changeset/ten-avocados-agree.md
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(components-react): create Alert component
  .changeset/hungry-books-hug.md
  .lux.stylelintrc.json
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/components-react/src/alert/test/Alert.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat: added link component (#321)
  .changeset/weak-weeks-rush.md
  .lux.stylelintrc.json
  packages/components-react/src/index.ts
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/components-react/src/link/test/Link.spec.tsx
  packages/storybook/src/react-components/link/link.mdx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(react): Added FormField, its subcomponents and FormFieldTextbox (#306)
  .changeset/nervous-eels-happen.md
  .changeset/rotten-eyes-poke.md
  .changeset/thick-cats-agree.md
  .changeset/violet-frogs-report.md
  packages/components-react/package.json
  packages/components-react/src/form-field-description/FormFieldDescription.tsx
  packages/components-react/src/form-field-description/test/FormFieldDescription.spec.tsx
  packages/components-react/src/form-field-error-message/FormFieldErrorMessage.tsx
  packages/components-react/src/form-field-error-message/test/FormFieldErrorMessage.spec.tsx
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field-label/test/FormFieldLabel.spec.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/form-field-textbox/test/form-field-textbox.spec.tsx
  packages/components-react/src/form-field/FormField.tsx
  packages/components-react/src/form-field/test/FormField.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/textbox/Textbox.tsx
  packages/components-react/src/textbox/test/Textbox.spec.tsx
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.mdx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.mdx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.mdx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.mdx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.mdx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
  packages/storybook/src/utils/MarkdownDocumentation.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(docs): Fixes Design review button en Visual regression (#337)
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/button/visual/States.tsx
  packages/storybook/src/react-components/button/visual/Variants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added Checkbox component (#336)
  .changeset/rude-fishes-give.md
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/checkbox/test/Checkbox.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Action group tokens toevoegen (#327)
  .changeset/beige-swans-glow.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-button-group.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: change svg path properties (#342)
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): utrecht Select tokens toevoegen
  .changeset/stupid-cheetahs-pump.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(components-react): create Section component
  .changeset/light-beans-warn.md
  packages/components-react/src/button/test/Button.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/section/Section.css
  packages/components-react/src/section/Section.tsx
  packages/components-react/src/section/test/Section.spec.tsx
  packages/storybook/src/react-components/section/section.mdx
  packages/storybook/src/react-components/section/section.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore(storybook): add correct badges to stories (#350)
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/select/select.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(react): Added FormField Checkbox (#341)
  .changeset/purple-pumpkins-joke.md
  packages/components-react/package.json
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

React components/select (#329)
  .changeset/clean-lizards-admire.md
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/form-field-select/test/form-field-select.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.css
  packages/components-react/src/select/Select.tsx
  packages/components-react/src/select/test/Select.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/select/select.mdx
  packages/storybook/src/react-components/select/select.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: update changesets to reflect semver reality
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/two-elephants-exist.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  .prettierignore
Due: markdownlint, prettier --check

Aline/checkbox (#330)
  .changeset/loud-cameras-shake.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline to all formfield components (#347)
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/form-field-checkbox/test/form-field-checkbox.spec.tsx
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.tsx
  packages/components-react/src/utils/object.ts
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/visual/States.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-description/visual/States.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/visual/States.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-label/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/visual/States.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-select/visual/States.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/visual/States.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/form-field/visual/FormFieldTypes.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

test(react-components): add visual baselines for Headings (#307)
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

remove align items from section (#340)
  packages/components-react/src/section/Section.css
Due: prettier --fix, stylelint --allow-empty-input

chore: update changesets for nicer changelogs (#351)
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/good-windows-smash.md
  .changeset/khaki-camels-cheer.md
  .changeset/mean-books-sleep.md
  .changeset/two-elephants-exist.md
  .changeset/wise-kids-return.md
Due: markdownlint, prettier --check

test(components-react): add visual baselines for alert & link (#345)
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/alert/visual/Types.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/link/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline section (#346)
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/section/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Alert design review improvements (#338)
  .changeset/two-elephants-exist.md
  packages/components-react/src/alert/Alert.css
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: changesets design tokens (#352)
  .changeset/afraid-papayas-act.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
  .changeset/ten-avocados-agree.md
Due: markdownlint, prettier --check

alert icons added (#339)
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
