Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(design tokens): Button update: small variant + utrecht font-sizes voor secondary en subtle (#276)
  .changeset/fifty-lizards-promise.md
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

tokens toegevoegd voor pre-heading
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-pre-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

pre-heading toegevoegd aan theme's
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update lock file
  pnpm-lock.yaml
Due: none

Update Utrecht components react version
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Added tests for Paragraph
  packages/components-react/src/index.ts
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added test for Document
  packages/components-react/src/document/Document.tsx
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token naamgeving aangepast
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added stories for Document
  packages/components-react/src/document/Document.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/document/document.mdx
  packages/storybook/src/react-components/document/document.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Typescript and testing-library setup improvements
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.mjs
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Section component tokens toevoegen
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/section.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/sour-toys-appear.md
Due: markdownlint, prettier --check

feat(design tokens): Section component tokens toevoegen (#287)
  .changeset/sour-toys-appear.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/section.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/fifty-lizards-promise.md
  .changeset/modern-bags-reflect.md
  .changeset/sour-toys-appear.md
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Typescript and testing-library setup improvements for linting
  packages/components-react/tsconfig.test.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update heading test
  packages/components-react/package.json
  packages/components-react/src/heading/Heading.test.tsx
  packages/components-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

test-setup file added to import matchers and globals
  packages/components-react/jest-setup.ts
  packages/components-react/jest.config.mjs
  packages/components-react/src/heading/Heading.test.tsx
  packages/components-react/tsconfig.test.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Typescript and testing-library setup improvements bugfix
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.js
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Heading documentation
  packages/storybook/package.json
  packages/storybook/src/components-react/heading/Heading.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Document in all stories (unless parameter is set)
  packages/components-react/src/document/Document.tsx
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/document/document.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token update na gesprek met Robbert en Yolijn
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Radio tokens toevoegen
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Nieuwe stijling form field invalid
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update visual regression tests in separate PR
  packages/storybook/src/utils/createVisualRegressionStory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/khaki-camels-cheer.md
Due: markdownlint, prettier --check

Visual regression for Document and Paragraph
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Apply suggestions from code review
  packages/storybook/src/react-components/paragraph/paragraph.mdx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update for PR comments
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/storybook/src/react-components/document/document.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added design tokens stories
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/document/tokens.json
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
  packages/storybook/src/utils/createDesignTokensStory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update for PR comments
  .changeset/khaki-camels-cheer.md
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/storybook/src/react-components/document/document.mdx
  packages/storybook/src/react-components/paragraph/paragraph.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/stale-impalas-notice.md
Due: markdownlint, prettier --check

feat(react components): document en paragraph (#280)
  .changeset/khaki-camels-cheer.md
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.js
  packages/components-react/package.json
  packages/components-react/src/document/Document.tsx
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/components-react/vite.config.ts
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/document/document.mdx
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/document/tokens.json
  packages/storybook/src/react-components/paragraph/paragraph.mdx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
  packages/storybook/src/utils/createDesignTokensStory.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/perfect-zoos-dance.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
