Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

feat: update override sets to always append to the end of the base set in the tokensetorder
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.spec.mts
Due: none

fix: updated base token set script to not flatten override sets as this can cause changes in the preserving of the original behaviour
  proprietary/lux-community-design-tokens/CONTRIBUTING.md
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.spec.mts
Due: markdownlint, prettier --check

fix: remove upgrade token drift and follow token set order in token creation
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/src/scripts/generate-themes.mjs
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.spec.mts
Due: none

Improved Divider, menu and floating bar shadow
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed shadow
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add tokens to resolution order
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Bwb/token updates (#654)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: configure dependabot groups
  .github/dependabot.yml
Due: none

chore: upgrade tar to 7.5.19 (resolves GHSA-23hp-3jrh-7fpw)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: upgrade pnpm to 11.15.1
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: clean up minimumReleaseAgeExclude entries
  pnpm-workspace.yaml
Due: none

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/poor-lizards-help.md
  .changeset/wise-carrots-cross.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed button, added header and breadcrumb tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed button, added header and breadcrumb tokens (#658)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: move vercel configuration to vercel.json
  packages/storybook/vercel.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added Number Badge Component
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changed semi transparent dark to a lighter version
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Bwb/token updates (#661)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed lint issues
  pnpm-workspace.yaml
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added exists check
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
Due: none

Added inline padding for header components
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added inline padding for header components (#663)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Revert "feat(000000): Sample commit to test PR workflow"
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(000000): Sample commit to test PR workflow
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed select image tokens and little status tag bug
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: rerun workflow when marking PRs as ready for review
  .github/workflows/continuous-deployment.yml
Due: none

feat(token): Adjust token merge to disable leak in copying values
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/themes.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixed select image tokens and little status tag bug (#664)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Test Emil approven?
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(token): Remove changes to workspace file
  pnpm-workspace.yaml
Due: none

fix(token): Fix token studio metadata merge, adjust mergeTokenSets value and add unit tests
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix(token): Fix token studio metadata merge, adjust mergeTokenSets va… (#667)
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: rerun workflow when marking PRs as ready for review (#668)
  .github/workflows/continuous-deployment.yml
Due: none
