Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Pass the className property to the button
  packages/components-react/src/button/Button.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: sort list alphabetically
  proprietary/design-tokens/src/imported/$metadata.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): lux Alert heading tokens toegevoegd
  .changeset/smart-ads-beam.md
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): Utrecht Page footer tokens toegevoegd
  .changeset/afraid-papayas-act.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Revert conversion to W3C DTCG format
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/icon-logo.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/component/login link.json
  proprietary/design-tokens/src/imported/component/single-checkbox.json
  proprietary/design-tokens/src/imported/core/border.json
  proprietary/design-tokens/src/imported/core/color.json
  proprietary/design-tokens/src/imported/core/font.json
  proprietary/design-tokens/src/imported/core/other.json
  proprietary/design-tokens/src/imported/core/spacing.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-description.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): add Radio group tokens
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/component/radio-group.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/afraid-papayas-act.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/khaki-camels-cheer.md
  .changeset/modern-bags-reflect.md
  .changeset/perfect-zoos-dance.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/tiny-hairs-enjoy.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Moar icons package WIP
  .nlds.eslintrc.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  pnpm-lock.yaml
  proprietary/icons/build/build-icons.mjs
  proprietary/icons/build/constants.mjs
  proprietary/icons/package.json
  proprietary/icons/src/templates/svgrTemplate.mjs
  proprietary/icons/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/stupid-cheetahs-pump.md
Due: markdownlint, prettier --check

feat(design-tokens): utrecht Select tokens toevoegen
  .changeset/stupid-cheetahs-pump.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added heading group
  packages/components-react/src/heading-group/HeadingGroup.tsx
  packages/components-react/src/heading-group/test/HeadingGroup.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/heading-group/heading-group.mdx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix linter error
  packages/components-react/src/pre-heading/test/PreHeading.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added link component
  .changeset/weak-weeks-rush.md
  packages/components-react/src/index.ts
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/components-react/src/link/test/Link.spec.tsx
  packages/storybook/src/react-components/link/link.mdx
  packages/storybook/src/react-components/link/link.stories.tsx
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

checked tokens veranderd van todo naar lux
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

checked states toegevoegd
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

value update
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(components-react): introduce clamp utility
  packages/components-react/src/heading/Heading.tsx
  packages/components-react/src/utils/number.spec.ts
  packages/components-react/src/utils/number.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(components-react): use reuasable interface
  packages/components-react/src/heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/mighty-toes-shop.md
Due: markdownlint, prettier --check

update
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Alert React
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/components-react/src/alert/test/Alert.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

TextInput hernoemd naar Textbox, FormFieldTextbox toegevoegd, docs updated.
  packages/components-react/package.json
  packages/components-react/src/form-field-error-message/FormFieldErrorMessage.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/form-field/FormField.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/textbox/Textbox.tsx
  packages/components-react/src/textbox/test/FormTextbox.spec.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-text-input/form-field-text-input.mdx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.mdx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.mdx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.mdx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
  packages/storybook/src/utils/MarkdownDocumentation.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

nieuwe tokens: utrecht button group
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-button-group.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added RadioButton and RadioGroup components.
  .changeset/mean-books-sleep.md
  .lux.stylelintrc.json
  packages/components-react/src/index.ts
  packages/components-react/src/radio-button/RadioButton.css
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/test/RadioButton.spec.tsx
  packages/components-react/src/radio-group/RadioGroup.css
  packages/components-react/src/radio-group/RadioGroup.tsx
  packages/components-react/src/radio-group/test/RadioGroup.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/radio-button/radio-button.mdx
  packages/storybook/src/react-components/radio-button/radio-button.stories.tsx
  packages/storybook/src/react-components/radio-group/radio-group.mdx
  packages/storybook/src/react-components/radio-group/radio-group.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Update packages/components-react/src/heading-group/HeadingGroup.tsx
  packages/components-react/src/heading-group/HeadingGroup.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Simplify components
  packages/components-react/src/heading-group/HeadingGroup.tsx
  packages/components-react/src/pre-heading/PreHeading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/light-beans-warn.md
Due: markdownlint, prettier --check

Select Component React
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.tsx
  packages/components-react/src/select/test/Select.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/select/select.mdx
  packages/storybook/src/react-components/select/select.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Revert conversion to W3C DTCG format
  proprietary/design-tokens/src/imported/component/single-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

toevoegen tokens checkbox
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/loud-cameras-shake.md
Due: markdownlint, prettier --check

Aline/checkbox (#330)
  .changeset/loud-cameras-shake.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
