Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: patch round 2024-08
  .ncurc.major.cjs
  .ncurc.minor.cjs
  .nvmrc
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  patches/README.md
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@1a4179b9deb92726e748cdc3d0721ac2816b0d71 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add common font-family tokens
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

utrecht focus tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-focus.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): fix font-family tokens
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: with Utrecht Readme
  packages/storybook/.stylelintrc.json
  packages/storybook/package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(design-tokens): fix common font-family reference
  packages/storybook/src/design-tokens/common/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): update typography
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@a1010e40779a583d6057361f260884dad3dbc454 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Arranged Docs page, fixed typo's in tokens
  packages/storybook/.stylelintrc.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  proprietary/design-tokens/src/imported/nl/utrecht-focus.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Better Prefixes for our custom SB components
  packages/storybook/.stylelintrc.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.mdx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

core tokens in groepen ingedeeld
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/core/border.json
  proprietary/design-tokens/src/imported/core/color.json
  proprietary/design-tokens/src/imported/core/font.json
  proprietary/design-tokens/src/imported/core/other.json
  proprietary/design-tokens/src/imported/core/spacing.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

connected to core Figma library
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

groep common/viewport naar viewport veranderd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push, blauw puntje maar had al geupdate?
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update packages/storybook/.stylelintrc.json
  packages/storybook/.stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/components/button/button.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

nl thema alle componenten aangezet
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

nieuwe utrecht components toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

waarde icon-insert aangepast
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

utrecht-paragraph toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

nl thema geupdate dat paragraph erbij zit
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Token voor positioneren van alert-utrecht-icon gedupliceerd naar viewport/xs
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token naamgeving aangepast op nieuwe update van utrecht link die ze hebben gedaan om link en voorbeeldthema gelijk te trekken.
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

PR comment fixes, better mdx, added tokens
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/button/tokens.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fontWeight -> fontWeights
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

PR comment fixes
  packages/web-components-stencil/src/global/app.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Aliases met no-token gevuld
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(components) LUX Button (#163)
  packages/storybook/.stylelintrc.json
  packages/storybook/package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.mdx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/button/tokens.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/global/app.ts
  packages/web-components-stencil/src/icons/chevron-left.tsx
  packages/web-components-stencil/src/icons/chevron-right.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/utils/helpers/attrBoolean.ts
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-focus.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@a526762a261c73c8b6f64fd9289cc82457e87960 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
