Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Changeset added
  .changeset/fair-tigers-eat.md
Due: markdownlint, prettier --check

Improved code based on PR feedback
  .changeset/fair-tigers-eat.md
  packages/components-react/src/heading/Heading.test.tsx
  packages/components-react/src/heading/Heading.tsx
  packages/storybook/src/components-react/heading/Heading.mdx
  packages/storybook/src/components-react/heading/Heading.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Moved test file
  packages/components-react/src/heading/test/Heading.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added form field component
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field-label/test/FormFieldLabel.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/components-react/form-field-label/FormFieldLabel.mdx
  packages/storybook/src/components-react/form-field-label/FormFieldLabel.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

added changeset
  .changeset/sour-melons-fold.md
Due: markdownlint, prettier --check

feat(design tokens): Nieuwe stijling form field invalid (#289)
  .changeset/perfect-zoos-dance.md
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design tokens): Tokens voor heading group (#284)
  .changeset/stale-impalas-notice.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-pre-heading.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

background-color aangepast naar wit ipv transparant
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fieldset tokens toevoegen
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

config
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

set aangemaakt voor checkbox
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Improved code based on PR feedback
  .changeset/fair-tigers-eat.md
  packages/storybook/src/react-components/heading/Heading.mdx
  packages/storybook/src/react-components/heading/Heading.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Improved code based on PR feedback
  packages/components-react/src/heading/test/Heading.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/heading/Heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

set voor single-checkbox toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Button component
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/button/Button.css
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/test/Button.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/src/react-components/button/Button.mdx
  packages/storybook/src/react-components/button/Button.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Update
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Improved code based on PR feedback
  packages/storybook/src/react-components/heading/Heading.mdx
  packages/storybook/src/react-components/heading/Heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Change filenames
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Change filenames
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(components-react): create Heading component (#278)
  .changeset/fair-tigers-eat.md
  packages/components-react/package.json
  packages/components-react/src/heading/Heading.tsx
  packages/components-react/src/heading/test/Heading.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/khaki-camels-cheer.md
  .changeset/modern-bags-reflect.md
  .changeset/perfect-zoos-dance.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Import Button from utrecht/component-library-react
  packages/components-react/package.json
  packages/components-react/src/button/Button.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Fix linter errors
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/test/Button.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix typo
  packages/components-react/src/button/Button.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix another typo
  packages/storybook/src/react-components/button/button.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Checkbox achtergrond
  proprietary/design-tokens/src/imported/component/single-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added component form field text input
  packages/components-react/src/form-field-text-input/FormFieldTextInput.tsx
  packages/components-react/src/form-field-text-input/test/FormFieldTextInput.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/components-react/form-field-label/form-field-label.mdx
  packages/storybook/src/components-react/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/components-react/form-field-text-input/form-field-text-input.mdx
  packages/storybook/src/components-react/form-field-text-input/form-field-text-input.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(github): Update new component template
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

textbox invalid border kleur aangepast
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

review: processed feedback
  .changeset/sour-melons-fold.md
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field-label/test/FormFieldLabel.spec.tsx
  packages/storybook/src/components-react/form-field-label/form-field-label.mdx
  packages/storybook/src/components-react/form-field-text-input/form-field-text-input.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added form field text input and label component
  .changeset/rotten-eyes-poke.md
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field-label/test/FormFieldLabel.spec.tsx
  packages/components-react/src/form-field-text-input/FormFieldTextInput.tsx
  packages/components-react/src/form-field-text-input/test/FormFieldTextInput.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-label/form-field-label.mdx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-text-input/form-field-text-input.mdx
  packages/storybook/src/react-components/form-field-text-input/form-field-text-input.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added component Form Field Description
  .changeset/violet-frogs-report.md
  packages/components-react/src/form-field-description/FormFieldDescription.tsx
  packages/components-react/src/form-field-description/test/FormFieldDescription.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added component Form Field Error Message
  .changeset/thick-cats-agree.md
  packages/components-react/src/form-field-error-message/FormFieldErrorMessage.tsx
  packages/components-react/src/form-field-error-message/test/FormFieldErrorMessage.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.mdx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
