Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

fix: incorrect file reference
  proprietary/design-tokens/studio.mjs
Due: none

fix: apply patch to @tokens-studio/sd-transforms@0.15.2
  package.json
  patches/@tokens-studio__sd-transforms@0.15.2.patch
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Split `isObject` from `mergeDeep`, added Docs
  utils/helpers/isObject.cjs
  utils/helpers/mergeDeep.cjs
Due: none

`"float": ["left", "right"]` toegevoegd aan `declaration-property-value-disallowed-list`
  .lux.stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: handle pr comments
  .github/workflows/continuous-deployment.yml
  packages/storybook/config/main.ts
  packages/storybook/config/preview-head.html
  packages/storybook/package.json
  packages/storybook/src/utils/createVisualRegressionStory.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: pipeline issue
  .github/workflows/continuous-deployment.yml
Due: none

chore: move chromatic step to build job
  .github/workflows/continuous-deployment.yml
Due: none

chore: fix chromatic fetch-depth
  .github/workflows/continuous-deployment.yml
Due: none

Meer positional values toegevoegd
  .lux.stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

style: split Prettier, StyleLint and ESLint configs into NLDS and our own. (#72)
  .eslintrc.json
  .lux.prettierrc.cjs
  .lux.stylelintrc.json
  .nlds.eslintrc.json
  .nlds.prettierrc.cjs
  .nlds.stylelintrc.json
  .prettierrc.cjs
  .prettierrc.json
  .stylelintrc.json
  package.json
  packages/storybook/.stylelintrc.json
  packages/storybook/src/styles/theme.css
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/styles/sr-only.scss
  pnpm-lock.yaml
  proprietary/font/src/index.scss
  utils/helpers/isObject.cjs
  utils/helpers/mergeDeep.cjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@e0bcdcb7c4ce5f2a6a6bcc0c6f0e0d3f99c570e9 🚀
  assets/Color-RQJUDNI5-e15SBLki.js
  assets/Color-RQJUDNI5-sbX-l_9v.js
  assets/DocsRenderer-K4EAMTCU-BKkSKN8i.js
  assets/DocsRenderer-K4EAMTCU-Bg0vHMB1.js
  assets/WithTooltip-Y7J54OF7-4_xDluph.js
  assets/WithTooltip-Y7J54OF7-C2QWpLK1.js
  assets/formatter-B5HCVTEV-6znBfaXU.js
  assets/iframe-1-PEBlo9.js
  assets/iframe-rBLI0yj_.js
  assets/index-D5V_QstY.js
  assets/inlogstraat-DF2Zt08q.js
  assets/introduction-BBhk1HU4.js
  assets/license-BmnP4n79.js
  assets/lux-button-login.entry-D0qwRtIE.js
  assets/lux-button-login.entry-DrSrrD_r.js
  assets/lux-icon-logo-digid_3.entry-CNAM8eGI.js
  assets/lux-icon-logo-digid_3.entry-ClhMkT8p.js
  assets/notice-Cd_qS8F-.js
  assets/preview--K0jbXGI.css
  assets/preview-AYC82TkH.js
  assets/preview-Bbfg80MS.js
  assets/preview-DLqBAceI.js
  assets/preview-DuXh2r5w.js
  assets/preview-nDulJKrw.css
  assets/preview-o8jbtilS.js
  assets/preview-xAe9Ihl8.js
  assets/syntaxhighlighter-JOJW2KGS-BhTq4-JQ.js
  assets/syntaxhighlighter-JOJW2KGS-nnL7XdWc.js
  iframe.html
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(storybook): setup chromatic (#70)
  .github/workflows/continuous-deployment.yml
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/inlogstraat.mdx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(button-login): switch icon and label sides
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  proprietary/design-tokens/src/components/lux/button-login.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(button-login): switch icon and label sides (#73)
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  proprietary/design-tokens/src/components/lux/button-login.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@22e4641b84b4a0e4f6da1e801779d4fad39694b8 🚀
  assets/Color-RQJUDNI5-BWHOND7w.js
  assets/Color-RQJUDNI5-DdR4vi6N.js
  assets/DocsRenderer-K4EAMTCU-BAIeOooH.js
  assets/DocsRenderer-K4EAMTCU-CzMUvtGf.js
  assets/WithTooltip-Y7J54OF7-D1CghNbR.js
  assets/WithTooltip-Y7J54OF7-Drfql2RF.js
  assets/formatter-B5HCVTEV-Bf40RaFp.js
  assets/iframe-B59rpG0T.js
  assets/iframe-Dp5-WIDW.js
  assets/index-ChQsw4-i.js
  assets/inlogstraat-C5Bw0KoH.js
  assets/introduction-BKUzadC3.js
  assets/license-B-TGu6tJ.js
  assets/lux-button-login.entry-Biv-myLU.js
  assets/lux-button-login.entry-Cr-foPl1.js
  assets/lux-icon-logo-digid_3.entry-Bl3HuAx5.js
  assets/lux-icon-logo-digid_3.entry-DvLUx64j.js
  assets/notice-B0jabHzx.js
  assets/preview--jJy0ltj.js
  assets/preview-BkHz-fNI.js
  assets/preview-C9k7OPvZ.css
  assets/preview-Cz0zW6yg.js
  assets/preview-D4N0DzPt.js
  assets/preview-nDulJKrw.css
  assets/preview-q-KR098j.js
  assets/preview-sxhQaHth.js
  assets/syntaxhighlighter-JOJW2KGS-BFeK4D9Y.js
  assets/syntaxhighlighter-JOJW2KGS-CAfLAH68.js
  iframe.html
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: alignment issue
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: prettier --fix, stylelint --allow-empty-input

fix: missing active state background color
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@cb53efdec04f3aa6293eb82e26c641b037a50134 🚀
  assets/Color-RQJUDNI5-CsZUdqv7.js
  assets/Color-RQJUDNI5-DdR4vi6N.js
  assets/DocsRenderer-K4EAMTCU-Cig7O6iM.js
  assets/DocsRenderer-K4EAMTCU-CzMUvtGf.js
  assets/WithTooltip-Y7J54OF7-CXCeW-ij.js
  assets/WithTooltip-Y7J54OF7-D1CghNbR.js
  assets/formatter-B5HCVTEV-Bo72FZHx.js
  assets/iframe-B59rpG0T.js
  assets/iframe-BY4HBSjs.js
  assets/index-eZeoTZeT.js
  assets/inlogstraat-FnHTx0Lg.js
  assets/introduction-D_9izU4_.js
  assets/license-FV94H4-y.js
  assets/lux-button-login.entry-Cr-foPl1.js
  assets/lux-button-login.entry-wpY30xFA.js
  assets/lux-icon-logo-digid_3.entry-Bl3HuAx5.js
  assets/lux-icon-logo-digid_3.entry-DvH5myu1.js
  assets/notice-C4VEpSt7.js
  assets/preview-BjO9l4AI.js
  assets/preview-C9k7OPvZ.css
  assets/preview-Cz0zW6yg.js
  assets/preview-D-YnH9oO.js
  assets/preview-D7GN6Mya.css
  assets/preview-SOgTQHFd.js
  assets/preview-q-KR098j.js
  assets/preview-sxhQaHth.js
  assets/syntaxhighlighter-JOJW2KGS-CAfLAH68.js
  assets/syntaxhighlighter-JOJW2KGS-CB9bD2Ti.js
  iframe.html
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

SEMVER.md toegevoegd
  SEMVER.md
Due: markdownlint, prettier --check

feat(storybook): improve favicon contrast
  proprietary/assets/src/favicon.svg
Due: none

feat(storybook): improve favicon contrast (#74)
  proprietary/assets/src/favicon.svg
Due: none

Deploying to gh-pages from @ nl-design-system/lux@01167f3f3e68fc221cd2c61e1c977a76694ad163 🚀
  favicon.svg
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Links naar SEMVER.md toegevoegd in README.md en Storybook; Cleanup van README.md
  README.md
  packages/storybook/src/documentation/versioning.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Update SEMVER.md
  SEMVER.md
Due: markdownlint, prettier --check

PR Comments en documentatie aangevuld met een link naar een artikel
  SEMVER.md
Due: markdownlint, prettier --check

Update README.md
  README.md
Due: markdownlint, prettier --check

nvm link toegevoegd
  README.md
Due: markdownlint, prettier --check

SemVer beschrijven in documentatie (#75)
  README.md
  SEMVER.md
  packages/storybook/src/documentation/versioning.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@c6311cc43f1295f4ebf0f51e05da1eedf891b677 🚀
  assets/Color-RQJUDNI5-Bkx77mD7.js
  assets/Color-RQJUDNI5-CsZUdqv7.js
  assets/DocsRenderer-K4EAMTCU-Cig7O6iM.js
  assets/DocsRenderer-K4EAMTCU-DciC880k.js
  assets/WithTooltip-Y7J54OF7-CXCeW-ij.js
  assets/WithTooltip-Y7J54OF7-sVwCpN1g.js
  assets/formatter-B5HCVTEV-BNH84nZa.js
  assets/iframe-BY4HBSjs.js
  assets/iframe-D87pvZ2z.js
  assets/index-CYsKsTxO.js
  assets/inlogstraat-hn9qbG4j.js
  assets/introduction-CnLcrNKa.js
  assets/license-Cs3CrfgX.js
  assets/lux-button-login.entry-wpY30xFA.js
  assets/lux-button-login.entry-xnWExWQa.js
  assets/lux-icon-logo-digid_3.entry-DvH5myu1.js
  assets/lux-icon-logo-digid_3.entry-Y4MuXqxZ.js
  assets/notice-DOn_wkw6.js
  assets/preview-3HVJp42O.js
  assets/preview-Bj4tqtA1.js
  assets/preview-BjO9l4AI.js
  assets/preview-D-YnH9oO.js
  assets/preview-DqBmtDCJ.js
  assets/preview-SOgTQHFd.js
  assets/syntaxhighlighter-JOJW2KGS-CB9bD2Ti.js
  assets/syntaxhighlighter-JOJW2KGS-ffYYCXKR.js
  assets/versioning--xnW6QBF.js
  iframe.html
  index.json
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): how to use design tokens for community components
  packages/storybook/src/developer/design-tokens.mdx
  packages/storybook/src/developer/naamgeving-design-tokens.mdx
  packages/storybook/src/documentation/design-tokens.md
  packages/storybook/src/documentation/naamgeving-design-tokens.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

build: bump pnpm to v9
  .github/workflows/continuous-deployment.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: improve copy
  packages/storybook/src/documentation/design-tokens.md
  packages/storybook/src/documentation/naamgeving-design-tokens.md
Due: markdownlint, prettier --check

build: patch round 2024-05
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@fdb41de28092a50c105865be8f3a7aa9e413aa36 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
