Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Added Accordion states
  packages/storybook/src/react-components/accordion/accordion.mdx
  packages/storybook/src/react-components/accordion/accordion.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

rvo tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/rvo-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

use lux-tokens in linklist
  packages/components-react/src/link-list/LinkList.css
Due: prettier --fix, stylelint --allow-empty-input

update tokens in linklist
  packages/components-react/src/link-list/LinkList.css
  packages/storybook/src/react-components/link-list/link-list.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Refactor some of the docs
  packages/storybook/config/preview.tsx
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-component-aanleveren.md
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-component-aanleveren.mdx
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-components.md
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-components.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/frameworks.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developers.mdx
  packages/storybook/src/documentation/lux/architectuur/versioning.mdx
  packages/storybook/src/documentation/lux/faq.md
  packages/storybook/src/documentation/lux/faq.mdx
  packages/storybook/src/documentation/lux/introduction.mdx
  packages/storybook/src/documentation/lux/kwaliteit-componenten.mdx
  packages/storybook/src/documentation/lux/nl-design-system.mdx
  packages/storybook/src/documentation/lux/toegankelijkheid.mdx
  packages/storybook/src/documentation/lux/versioning.mdx
  packages/storybook/src/documentation/lux/wat-is-lux.mdx
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/rvo-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Split .mdx files into .md and .mdx for linting
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.md
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/aan-de-slag.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/frameworks.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/frameworks.mdx
  packages/storybook/src/documentation/lux/kwaliteit-componenten.md
  packages/storybook/src/documentation/lux/kwaliteit-componenten.mdx
  packages/storybook/src/documentation/lux/nl-design-system.md
  packages/storybook/src/documentation/lux/nl-design-system.mdx
  packages/storybook/src/documentation/lux/toegankelijkheid.md
  packages/storybook/src/documentation/lux/toegankelijkheid.mdx
  packages/storybook/src/documentation/lux/wat-is-lux.md
  packages/storybook/src/documentation/lux/wat-is-lux.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Finish token mapping doc
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.md
Due: markdownlint, prettier --check

Fix incorrect import in docs
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix typos
  packages/storybook/src/documentation/lux/nl-design-system.md
  packages/storybook/src/documentation/lux/wat-is-lux.md
Due: markdownlint, prettier --check

Use same chevron-down icon as in design
  packages/components-react/src/accordion/Accordion.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

React components/link list (#457)
  .changeset/long-dogs-act.md
  packages/components-react/src/index.ts
  packages/components-react/src/link-list/LinkList.css
  packages/components-react/src/link-list/LinkList.tsx
  packages/components-react/src/link-list/test/Link-list.spec.tsx
  packages/storybook/src/react-components/link-list/link-list.mdx
  packages/storybook/src/react-components/link-list/link-list.stories.tsx
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Add changeset for accordion component
  .changeset/red-rings-rest.md
Due: markdownlint, prettier --check

Accordeon component React + design tokens (#462)
  .changeset/red-rings-rest.md
  packages/components-react/src/accordion/Accordion.spec.tsx
  packages/components-react/src/accordion/Accordion.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/accordion/accordion.mdx
  packages/storybook/src/react-components/accordion/accordion.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Release minor version of components-react design-tokens and storybook packages
  .changeset/long-dogs-act.md
  .changeset/red-rings-rest.md
  RELEASE.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

remove inset block start for icon
  packages/components-react/src/alert/Alert.css
Due: prettier --fix, stylelint --allow-empty-input

Add custom css to style the radio button according the figma design
  packages/components-react/src/radio-button/RadioButton.css
  packages/components-react/src/radio-button/RadioButton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Added changeset
  .changeset/tall-geckos-compare.md
Due: markdownlint, prettier --check

Aligning of the radio button
  packages/components-react/src/radio-button/RadioButton.css
Due: prettier --fix, stylelint --allow-empty-input

Prevent jumping on hover
  packages/components-react/src/radio-button/RadioButton.css
Due: prettier --fix, stylelint --allow-empty-input

Update packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/RadioButton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Removed 'inset-block-start' overwrite
  packages/components-react/src/alert/Alert.css
Due: prettier --fix, stylelint --allow-empty-input

Release minor version of components-react design-tokens and storybook… (#484)
  .changeset/long-dogs-act.md
  .changeset/red-rings-rest.md
  RELEASE.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Fix linter issue
  packages/components-react/src/radio-button/RadioButton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Radiobutton size improvements (#486)
  .changeset/tall-geckos-compare.md
  packages/components-react/src/radio-button/RadioButton.css
  packages/components-react/src/radio-button/RadioButton.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Alert improvements based on design review (#458)
  .changeset/modern-lamps-help.md
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Publish components-react 1.2.1
  .changeset/modern-lamps-help.md
  .changeset/tall-geckos-compare.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Publish components-react 1.2.1 (#487)
  .changeset/modern-lamps-help.md
  .changeset/tall-geckos-compare.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Finish token mapping docs
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-component-aanleveren.mdx
  packages/storybook/src/documentation/aan-de-slag/bijdragen/component-aanleveren.md
  packages/storybook/src/documentation/aan-de-slag/bijdragen/component-aanleveren.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add changeset
  .changeset/fifty-owls-join.md
Due: markdownlint, prettier --check

remove z-index to ensure that border and hover are visible
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

changeset
  .changeset/odd-apes-grow.md
Due: markdownlint, prettier --check

Remove z-index to ensure that border and hover are visible (#489)
  .changeset/odd-apes-grow.md
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
