Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

feat: added RadioButton and RadioGroup components. (#328)
  .changeset/mean-books-sleep.md
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.css
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-radio-group/test/FormFieldRadioGroup.spec.tsx
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.css
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-option/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/test/RadioButton.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.mdx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.mdx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: update Dependabot config
  .github/dependabot.yml
Due: none

LUX component tokens verwijderen (#359)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/component/paragraph.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Token update Eva (#354)
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages (#279)
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/stupid-cheetahs-pump.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/icons/CHANGELOG.md
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

KOOP thema toevoegen (#362)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/KOOP.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Only apply utrecht-document to components that had it specifically before the new test setup
  packages/storybook/src/react-components/form-field-label/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-group/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-option/visual/States.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: updated README.md
  README.md
Due: markdownlint, prettier --check

perf: improvement bundle size, import only from @utrecht/component-library-react/dist/css-module
  packages/components-react/src/icon/Icon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added missing background-image design token
  packages/components-react/src/select/Select.css
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Remove direct link to proprietary icon package
  packages/components-react/package.json
  packages/components-react/src/icon/Icon.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

LuxIcon only takes single ReactNodes as argument to prevent eager loading of entire icon libraries
  packages/components-react/src/icon/Icon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Refactor Icon story so it no longer requires importing entire icon libraries
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/react-components/icon/icon.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

New pnpm lockfile to try and fix frozen lockfile issues
  pnpm-lock.yaml
Due: none

Icon optimizations (#401)
  README.md
  packages/components-react/package.json
  packages/components-react/src/icon/Icon.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/react-components/icon/icon.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Section responsive maken + koop stijling geven
  proprietary/design-tokens/src/imported/core/color.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Add unit test to components-react/Icon
  packages/components-react/src/icon/FallbackIcon.tsx
  packages/components-react/src/icon/Icon.tsx
  packages/components-react/src/icon/test/Icon.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added changeset
  .changeset/selfish-coins-tan.md
Due: markdownlint, prettier --check

Afronding Icon component fixes (#413)
  .changeset/selfish-coins-tan.md
  packages/components-react/src/icon/FallbackIcon.tsx
  packages/components-react/src/icon/Icon.tsx
  packages/components-react/src/icon/test/Icon.spec.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/selfish-coins-tan.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: configured KOOP theme
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  proprietary/design-tokens/src/imported/product/KOOP.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added 1.0.1 release of components-react and 1.0.0 of storybook packages
  .changeset/selfish-coins-tan.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Update to latest patch versions
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: configured KOOP theme (#416)
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  proprietary/design-tokens/src/imported/product/KOOP.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: set 'border style' for focus, focus-visible and hover states using box-shadow
  packages/components-react/src/select/Select.css
Due: prettier --fix, stylelint --allow-empty-input

Added 1.0.1 release of components-react and 1.0.0 of storybook packages (#417)
  .changeset/selfish-coins-tan.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Update to prantlf/jsonlint@16
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: pr feedback
  packages/components-react/src/select/Select.css
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat: changed setup for rendering border
  packages/components-react/src/select/Select.css
Due: prettier --fix, stylelint --allow-empty-input

Select focus values gewijzigd
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

tokens gedupliceerd naar viewports
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
