Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: fix build
  packages/lux-community-components-react/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix test files lint
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.ts
  packages/components-react/package.json
  packages/components-react/src/textbox/Textbox.tsx
  packages/components-react/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix vite config for testing
  packages/lux-community-components-react/src/index.spec.tsx
  packages/lux-community-components-react/vite.config.ts
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove test script from community design tokens package
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: adjust readmes for community packages
  packages/lux-community-components-react/README.md
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

chore: improve changeset description and add the word community to the descriptions in package.json
  .changeset/funny-news-lie.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: community packages (#591)
  .changeset/funny-news-lie.md
  .lintstagedrc.json
  .nlds.eslintrc.json
  packages/components-react/src/textbox/Textbox.tsx
  packages/lux-community-components-react/README.md
  packages/lux-community-components-react/package.json
  packages/lux-community-components-react/src/index.spec.tsx
  packages/lux-community-components-react/src/index.tsx
  packages/lux-community-components-react/tsconfig.json
  packages/lux-community-components-react/tsconfig.test.json
  packages/lux-community-components-react/vite.config.ts
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/LICENSE.md
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: simplify scripts in community design tokens and community react components
  packages/lux-community-components-react/package.json
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: add merge token sets script (WIP)
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: try to upgrade to eslint 9 to support "import with" - move away from .eslintignore
  .eslintignore
  .eslintrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: next step in upgrading eslint: move away from .eslintrc.json
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade ESLint to v9 with flat config
  eslint.config.mjs
Due: none

chore: upgrade ESLint to v9 with flat config (remaining changes)
  .eslintignore
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  .eslintrc.ts.json
  .nlds.eslintrc.json
  .prettierrc.cjs
  package.json
  packages/components-react/.eslintrc.json
  packages/components-react/jest.config.mjs
  packages/components-react/vite.config.ts
  packages/lux-community-components-react/vite.config.ts
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Move from .eslintrc files to new flat js/ts configuration files (using copilot/claude) (#593)
  .eslintignore
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.react.json
  .eslintrc.ts.json
  .nlds.eslintrc.json
  .prettierrc.cjs
  eslint.config.mjs
  package.json
  packages/components-react/.eslintrc.json
  packages/components-react/jest.config.mjs
  packages/components-react/vite.config.ts
  packages/lux-community-components-react/vite.config.ts
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Revert "chore: next step in upgrading eslint: move away from .eslintrc.json"
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Revert "chore: try to upgrade to eslint 9 to support "import with" - move away from .eslintignore"
  .eslintignore
  .eslintrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: pnpm lint (partly)
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: in dependabot, group GitHub Actions updates together
  .github/dependabot.yml
Due: none

fix: split lint configuration of .mjs and .cjs files from regular source files
  eslint.config.mjs
Due: none

feat: automatically merge token sets when local overrides are changed
  .github/workflows/continuous-deployment.yml
Due: none

fix: rebuild merged token file on any local override json, filename not hard coded
  .github/workflows/continuous-deployment.yml
Due: none

chore: change local token set to test pipeline
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: debug env in pipeline
  .github/workflows/continuous-deployment.yml
Due: none

chore: debug env more
  .github/workflows/continuous-deployment.yml
Due: none

chore: fix typo
  .github/workflows/continuous-deployment.yml
Due: none

feat: fail pipeline step when token set collisions are detected
  package.json
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/radio-button/RadioButton.css
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: trigger collision and check if error is given
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: revert test, this works, see https://github.com/nl-design-system/lux/actions/runs/22901986322
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add to readme
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/bright-numbers-watch.md
Due: markdownlint, prettier --check

chore: testing the test
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: testing the test
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix:test
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: finish test
  eslint.config.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/tsconfig.test.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add test for potential shallow copy issue
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: eslint config for mjs/cjs files
  eslint.config.mjs
Due: none

fix: try to fix pipeline-only issue
  proprietary/lux-community-design-tokens/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: update eslint tsconfig ref
  eslint.config.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
