Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

fix: rewrote mdx with functionality of FormFieldDescription
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Badges toegevoegd, zodat deze PR gemerged kan worden.
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-text-input/form-field-text-input.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Design tokens for Heading
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added component Form Field
  .changeset/nervous-eels-happen.md
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field/FormField.tsx
  packages/components-react/src/form-field/test/FormField.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field/form-field.mdx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Visual regression added to Headings
  packages/storybook/src/react-components/heading/heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Moar smol fixes
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Section
  packages/components-react/src/index.ts
  packages/components-react/src/section/Section.css
  packages/components-react/src/section/Section.tsx
  packages/components-react/src/section/test/Section.spec.tsx
  packages/storybook/src/react-components/section/section.mdx
  packages/storybook/src/react-components/section/section.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

pnpm-lock update
  pnpm-lock.yaml
Due: none

Fix storybook lintin'
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Improved code based on PR feedback
  packages/components-react/src/button/test/Button.spec.tsx
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Focus state fix (added focus-visible)
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added disabled variant
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Select tokens toevoegen
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Invalid tokens toegevoegd
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(github): Update new component template (#305)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

Removed hint from stories, removed variant, added toggle story
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/test/Button.spec.tsx
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Alert heading tokens toeveogen
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

lux radio group tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/lux-radio-group.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

form field components improvements
  packages/components-react/src/form-field-description/FormFieldDescription.tsx
  packages/components-react/src/form-field/FormField.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-text-input/form-field-text-input.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

removed unnecessary react import
  packages/components-react/src/form-field/FormField.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix double styling and typescript errors
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/fair-tigers-eat.md
  .changeset/tiny-hairs-enjoy.md
Due: markdownlint, prettier --check

React components/button (#304)
  .changeset/fair-tigers-eat.md
  .changeset/tiny-hairs-enjoy.md
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/button/Button.css
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/test/Button.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: add changeset
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/smart-ads-beam.md
Due: markdownlint, prettier --check

pre-heading
  packages/components-react/src/index.ts
  packages/components-react/src/pre-heading/PreHeading.tsx
  packages/components-react/src/pre-heading/test/PreHeading.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/pre-heading/pre-heading.mdx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/soft-peaches-collect.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/afraid-papayas-act.md
Due: markdownlint, prettier --check

chore: sort list alphabetically
  proprietary/design-tokens/src/imported/$metadata.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fieldset tokens toevoegen (#300)
  .changeset/soft-peaches-collect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

changes formfield
  packages/components-react/src/form-field/FormField.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$metadata.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Borders van radio aangepast naar rem ipv px
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/radio-group.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

added form field properties in stories
  packages/storybook/src/react-components/form-field/form-field.mdx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
