Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

RadioOptionValue
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

forwardRef bug fixed
  packages/components-react/src/select/Select.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline section (#346)
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/section/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baselines for alert & link (#345)
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/alert/visual/Types.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/link/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(react-components): add visual baselines for Headings (#307)
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added correct badges to stories; select & textbox under parent category.
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/select/select.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(components-react): move visreg scenarios to VisualStates components
  packages/storybook/config/components.ts
  packages/storybook/src/react-components/checkbox/visual/States.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/visual/States.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-description/visual/States.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/visual/States.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-label/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/visual/States.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-select/visual/States.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove tryout files from index
  packages/storybook/config/components.ts
  packages/storybook/src/react-components/checkbox/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(components-react): fix imports
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(storybook): add correct badges to stories (#350)
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/select/select.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: build
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changelog layout fixes
  .changeset/afraid-papayas-act.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/khaki-camels-cheer.md
  .changeset/loud-cameras-shake.md
  .changeset/modern-bags-reflect.md
  .changeset/perfect-zoos-dance.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/tiny-hairs-enjoy.md
Due: markdownlint, prettier --check

test(components-react): add visual baseline to all formfield components (#347)
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/form-field-checkbox/test/form-field-checkbox.spec.tsx
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.tsx
  packages/components-react/src/utils/object.ts
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/visual/States.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-description/visual/States.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/visual/States.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-label/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/visual/States.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/visual/States.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-select/visual/States.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/visual/States.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/form-field/visual/FormFieldTypes.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/stupid-cheetahs-pump.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/two-elephants-exist.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/icons/CHANGELOG.md
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Changelog semver and layout fixes
  .changeset/beige-swans-glow.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/mean-books-sleep.md
  .changeset/nervous-eels-happen.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/two-elephants-exist.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
Due: markdownlint, prettier --check

chore: update changesets to reflect semver reality
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/two-elephants-exist.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  .prettierignore
Due: markdownlint, prettier --check

chore: changesets
  .changeset/clean-lizards-admire.md
  .changeset/two-elephants-exist.md
Due: markdownlint, prettier --check

chore: changesets
  .changeset/fair-tigers-eat.md
  .changeset/good-windows-smash.md
  .changeset/khaki-camels-cheer.md
  .changeset/mean-books-sleep.md
Due: markdownlint, prettier --check

chore: changesets
  .changeset/wise-kids-return.md
Due: markdownlint, prettier --check

chore: update changesets for nicer changelogs (#351)
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/good-windows-smash.md
  .changeset/khaki-camels-cheer.md
  .changeset/mean-books-sleep.md
  .changeset/two-elephants-exist.md
  .changeset/wise-kids-return.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/stupid-cheetahs-pump.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: changesets
  packages/components-react/CHANGELOG.md
Due: markdownlint, prettier --check

chore: changesets design tokens
  .changeset/afraid-papayas-act.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
  .changeset/ten-avocados-agree.md
Due: markdownlint, prettier --check

chore: changesets design tokens (#352)
  .changeset/afraid-papayas-act.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
  .changeset/ten-avocados-agree.md
Due: markdownlint, prettier --check

docs(release): design system packages (#279)
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/stupid-cheetahs-pump.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  .changeset/wise-kids-return.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/icons/CHANGELOG.md
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

- Hover kleur eva geen darken inch meer maar specifieke hexcode: #8A1641 - Border van text-field rood
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Figma text area tokens voor row-height toevoegen
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
