Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: try something
  .changeset/fair-tigers-eat.md
  .prettierignore
Due: markdownlint, prettier --check

Tests added, fixes on component
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/form-field-checkbox/test/form-field-checkbox.spec.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/utils/object.ts
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: change svg path properties (#342)
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/two-elephants-exist.md
Due: markdownlint, prettier --check

Alert design review improvements (#338)
  .changeset/two-elephants-exist.md
  packages/components-react/src/alert/Alert.css
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(release): design system packages
  .changeset/afraid-papayas-act.md
  .changeset/beige-swans-glow.md
  .changeset/clean-lizards-admire.md
  .changeset/fair-tigers-eat.md
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/good-windows-smash.md
  .changeset/hungry-books-hug.md
  .changeset/khaki-camels-cheer.md
  .changeset/light-beans-warn.md
  .changeset/loud-cameras-shake.md
  .changeset/mean-books-sleep.md
  .changeset/modern-bags-reflect.md
  .changeset/nervous-eels-happen.md
  .changeset/perfect-zoos-dance.md
  .changeset/purple-pumpkins-joke.md
  .changeset/rotten-eyes-poke.md
  .changeset/rude-fishes-give.md
  .changeset/smart-ads-beam.md
  .changeset/soft-peaches-collect.md
  .changeset/sour-toys-appear.md
  .changeset/stale-impalas-notice.md
  .changeset/stupid-cheetahs-pump.md
  .changeset/ten-avocados-agree.md
  .changeset/thick-cats-agree.md
  .changeset/tiny-hairs-enjoy.md
  .changeset/two-elephants-exist.md
  .changeset/violet-frogs-report.md
  .changeset/weak-weeks-rush.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

test(react-components): add visual regression tests for headings
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(react-components): add visual regression tests for heading-group
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(react-components): add visual regression tests for pre-heading
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline alert
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/alert/visual/Types.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline link
  packages/storybook/src/react-components/link/link.stories.tsx
  packages/storybook/src/react-components/link/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline section
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/section/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): add visual baseline section
  packages/storybook/src/react-components/section/section.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

First set of Vis reg tests
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/form-field/visual/FormFieldTypes.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Second set of Vis reg tests (WIP)
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP setup GuidePup
  .nlds.eslintrc.json
  package.json
  pnpm-lock.yaml
  utils/screenreader/README.md
  utils/screenreader/example-win.ts
  utils/screenreader/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

test(components-react): screen reader test setup and test for LuxSelect
  .nvmrc
  package.json
  packages/components-react/package.json
  packages/components-react/src/select/test/ScreenReader.spec.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

GuidePup test
  packages/components-react/src/form-field-radio-group/test/Screenreader.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Third set of Vis reg tests (WIP)
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Forth set of Vis reg tests
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

heading stijlen toegevoegd, composition tokens
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

thema update
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

udpate
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Logius source bij product thema's uitgezet
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

heading groeperen
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(storybook): add lux.color.canvas as background option
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/section/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Revert "feat(storybook): add lux.color.canvas as background option"
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/section/section.stories.tsx
  packages/storybook/src/react-components/section/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

updated lockfile
  pnpm-lock.yaml
Due: none

fix typescript
  packages/storybook/src/react-components/icon/icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

rename with Lux prefix
  packages/components-react/src/icon/Icon.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/icon/icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

clean up
  packages/components-react/src/icon/Icon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

lint and tests for icon package
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix lint for icon package
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix tests for icon package
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/wise-kids-return.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
