Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Documentatie: zelf component tokens toepassen (#481)
  .changeset/fifty-owls-join.md
  packages/storybook/config/preview.tsx
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-components.md
  packages/storybook/src/documentation/aan-de-slag/bijdragen/community-components.mdx
  packages/storybook/src/documentation/aan-de-slag/bijdragen/component-aanleveren.md
  packages/storybook/src/documentation/aan-de-slag/bijdragen/component-aanleveren.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.md
  packages/storybook/src/documentation/aan-de-slag/ontwerpen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/aan-de-slag.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/aan-de-slag.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/design-tokens-mappen.mdx
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/frameworks.md
  packages/storybook/src/documentation/aan-de-slag/ontwikkelen/frameworks.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/community-component-aanleveren.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developers.mdx
  packages/storybook/src/documentation/lux/architectuur/versioning.mdx
  packages/storybook/src/documentation/lux/faq.md
  packages/storybook/src/documentation/lux/introduction.mdx
  packages/storybook/src/documentation/lux/kwaliteit-componenten.md
  packages/storybook/src/documentation/lux/kwaliteit-componenten.mdx
  packages/storybook/src/documentation/lux/nl-design-system.md
  packages/storybook/src/documentation/lux/nl-design-system.mdx
  packages/storybook/src/documentation/lux/toegankelijkheid.md
  packages/storybook/src/documentation/lux/toegankelijkheid.mdx
  packages/storybook/src/documentation/lux/versioning.mdx
  packages/storybook/src/documentation/lux/wat-is-lux.md
  packages/storybook/src/documentation/lux/wat-is-lux.mdx
  pnpm-lock.yaml
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: release new package version
  .changeset/fifty-owls-join.md
  .changeset/odd-apes-grow.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: release new package version (#490)
  .changeset/fifty-owls-join.md
  .changeset/odd-apes-grow.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: update all utrecht dependencies
  packages/components-react/package.json
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix build (wip)
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/visual/States.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added dummy component
  packages/components-react/src/fionn/Fionn.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/fionn/fionn.mdx
  packages/storybook/src/react-components/fionn/fionn.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: add auto sync scripts and community tokens
  pnpm-lock.yaml
  proprietary/community-design-tokens/.eslintrc.json
  proprietary/community-design-tokens/.gitignore
  proprietary/community-design-tokens/LICENSE.md
  proprietary/community-design-tokens/README.md
  proprietary/community-design-tokens/figma.tokens.json
  proprietary/community-design-tokens/package.json
  proprietary/community-design-tokens/scripts/.eslintrc.json
  proprietary/community-design-tokens/scripts/merge-tokens.js
  proprietary/community-design-tokens/scripts/sync-from-figma.js
  proprietary/community-design-tokens/scripts/sync-to-figma.js
  proprietary/community-design-tokens/src/koop-tokens.json
  proprietary/community-design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: one lint-build error
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs: add creative commons license to login-link
  packages/web-components-stencil/src/components/login-link/README.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/purple-boxes-wear.md
Due: markdownlint, prettier --check

docs: changeset should be patch
  .changeset/purple-boxes-wear.md
Due: markdownlint, prettier --check

docs: add creative commons license to login-link (#533)
  .changeset/purple-boxes-wear.md
  packages/web-components-stencil/src/components/login-link/README.md
Due: markdownlint, prettier --check

docs: correct package name in README
  packages/web-components-stencil/README.md
Due: markdownlint, prettier --check

docs: add changeset
  .changeset/red-boxes-wear.md
Due: markdownlint, prettier --check

doc: contributing / way of working
  CONTRIBUTING.md
Due: markdownlint, prettier --check

doc: remove deprecated copy
  CONTRIBUTING.md
Due: markdownlint, prettier --check

doc: opheldering documentatie en verwijderen van TODO
  CONTRIBUTING.md
Due: markdownlint, prettier --check

docs: correct package name in README (#534)
  .changeset/red-boxes-wear.md
  packages/web-components-stencil/README.md
Due: markdownlint, prettier --check

build(deps): update to npm-check-updates@19.0.0
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

build: configure a cooldown of 1 day for npm-check-updates
  .ncurc.patch.cjs
Due: none

docs: add changeset
  .changeset/six-paths-speak.md
Due: markdownlint, prettier --check

build: run lint-staged from local node_modules, not global
  .husky/pre-commit
Due: none

docs(release): design system packages
  .changeset/purple-boxes-wear.md
  .changeset/red-boxes-wear.md
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

End of day commit - plenty todos in this file left
  PROCESSES.md
Due: markdownlint, prettier --check

End of day - tweaks to the flows
  PROCESSES.md
Due: markdownlint, prettier --check

Eod
  PROCESSES.md
Due: markdownlint, prettier --check

Configure npm-check-updates to have a cooldown of 1 day (#537)
  .changeset/six-paths-speak.md
  .ncurc.patch.cjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

ci: remove unnecessary option
  .github/workflows/continuous-deployment.yml
Due: none
