Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Fixes for fonts
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/font/src/index.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

outline style toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/icon-logo.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Last fix for themes in Storybook
  packages/storybook/src/web-components/button-login/button-login-themes.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

PR comments
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/build/run-build.mjs
Due: none

Update proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/build/build-tokens.mjs
Due: none

PR comments
  proprietary/design-tokens/build/build-tokens.mjs
Due: none

Kleurtokens aangepast, extra tinten van rijkshuisstijl toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

connected to Figma, extra variables aangemaakt.
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

donkergroen-400 geupdate
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

icon-wrapper-height aangepast naar een Figma token
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(components): get component labels from figma variables
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button-login/constants.ts
  pnpm-lock.yaml
  proprietary/design-tokens/build-tokens.mjs
  proprietary/design-tokens/src/imported/component/button-login/default.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

(focus) border radius en width aangepast van rem naar px
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

borderraduis aangepast naar px
  proprietary/design-tokens/src/imported/product/Logius.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

prefix van focus-outline-radius aangepast naar Figma
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

description canvas aangepast
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Foreground link toegevoegd. Nodig voor designers om inline links te stylen en in de toekomst voor breadcrumbs etc.
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

PR comments
  .gitignore
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/build/constants.mjs
  proprietary/design-tokens/src/manual/missingTokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

link foregrond geconnect met de link variable.
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update proprietary/design-tokens/README.md
  proprietary/design-tokens/README.md
Due: markdownlint, prettier --check

Deploying to gh-pages from @ nl-design-system/lux@841616a063d2349e5ff14dc1706dc33e9f4cd739 🚀
  assets/Color-PRSJMWNM-CWtJ2tPE.js
  assets/Color-PRSJMWNM-GqTMfYEL.js
  assets/DocsRenderer-K4EAMTCU-B0eOwV3-.js
  assets/DocsRenderer-K4EAMTCU-D9TFvYsh.js
  assets/WithTooltip-KJL26V4Q-DEV6JRkE.js
  assets/WithTooltip-KJL26V4Q-DkZRe-gV.js
  assets/button-login-BiJMYivE.js
  assets/button-login-themes--y7WHPtH.js
  assets/button-login-themes-BwhA1tY1.js
  assets/button-login.stories-BZ8sEORA.js
  assets/button-login.stories-DpHgZ2yP.js
  assets/community-components-C2mg7Zyh.js
  assets/design-tokens-m4GsEb5J.js
  assets/formatter-2WMMO6ZP-CUkMfUvc.js
  assets/iframe-B_k7Rzho.js
  assets/iframe-BgPS42UA.js
  assets/index-DtMWH8Je.js
  assets/inlogstraat-j1NclzIS.js
  assets/introduction-CghKMVeK.js
  assets/license-B2ro1V9Y.js
  assets/lux-button-login.entry-D07PnFV9.js
  assets/lux-button-login.entry-w64tyjKP.js
  assets/lux-icon-logo-digid_3.entry-5XDwnF3D.js
  assets/lux-icon-logo-digid_3.entry-D8VdDR2X.js
  assets/notice-IGfg323b.js
  assets/preview-ActKVYv5.js
  assets/preview-CjLS4L1Z.js
  assets/preview-Co_bcNqy.css
  assets/preview-DLwTxmmo.js
  assets/preview-DhDeNrUd.js
  assets/preview-DjKt_-y5.css
  assets/preview-DqD3bdEa.js
  assets/preview-k4mnUX6L.js
  assets/syntaxhighlighter-BP7B2CQK-CGSpp08Q.js
  assets/syntaxhighlighter-BP7B2CQK-CeHt1l7Y.js
  assets/testid-c9fa077d-BEmZN-tl.js
  assets/testid-c9fa077d-CBIC3cXb.js
  assets/versioning-CBIi658U.js
  iframe.html
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fixed import
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Own todos fixed
  lerna.json
  proprietary/design-tokens/README.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(releases): NPM release van JSON tokens beschikbaar maken [Lux-247] (#118)
  .github/workflows/continuous-deployment.yml
  .gitignore
  .npmpackagejsonlintrc.json
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/package.json
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/LICENSE.md
  proprietary/design-tokens/README.md
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@fef6efb44cecf4f3023fa203117f2adbb1cab439 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): document core color tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenPreview.tsx
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/rgbaToHex.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Test if publish works with unchanged author name
  .github/workflows/continuous-deployment.yml
Due: none

chore(pipeline): Author names rollback (#147)
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@275a0accd4e6103cf30b62c3195e67ad3efdeb1b 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@8cfb1ab15c6d137c8a2fe5dd74f255405479b728 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changed author name did not matter, NPM_TOKEN should now be in the vault
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@d792d4968f179bf5561fd18b1f45f1c636fe6735 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@1bccec6687d6ab30c0c3d8e3a8c19b8dd5fcbd05 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(design-tokens): rename DesignTokenPreview to DesignTokenColorPreview
  packages/storybook/src/design-tokens/niveaus/DesignTokenColorPreview.tsx
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
  packages/storybook/src/utils/rgbaToHex.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): document core spacing tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenSpacingPreview.tsx
  packages/storybook/src/design-tokens/niveaus/core/spacing-tokens.mdx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/pxToRem.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
