Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Bwb/token updates (#647)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/wise-carrots-cross.md
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: keep theme to bottom of override file
  proprietary/lux-community-design-tokens/src/scripts/split-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/split-token-sets.spec.mts
Due: none

fix: update path resolving
  proprietary/lux-community-design-tokens/src/scripts/merge-token-sets.mjs
Due: none

fix: potential security issue via code injections
  .github/workflows/continuous-deployment.yml
Due: none

chore: update email configuration for GitHub Actions bot
  .github/workflows/continuous-deployment.yml
Due: none

Added spinner on dark tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Simplified spinner tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs: add changeset
  .changeset/poor-lizards-help.md
Due: markdownlint, prettier --check

chore: ensure packages are published with provenance
  packages/components-react/package.json
  packages/lux-community-components-react/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Added option card token
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: don't persist credentials in actions/checkout
  .github/workflows/continuous-deployment.yml
Due: none

ci: explicitly set persist-credentials to true
  .github/workflows/continuous-deployment.yml
Due: none

ci: fix overly broad permissions
  .github/workflows/continuous-deployment.yml
Due: none

chore: some ci documentation
  .github/workflows/continuous-deployment.yml
Due: none

Optimized Side Bar tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: clean up unnecessary typing
  proprietary/lux-community-design-tokens/src/scripts/split-token-sets.mts
Due: none

Bwb/option card tokens (#649)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added layout tokens for detail page
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: now with pnpm 11 postpack runs before the tarball is created in the publish. this clean step is unnecessary as the CI runner is ephemeral and breaks the current publish
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: the previous error has been patched in pnpm v11.10.0 so no need to remove postpack
  package.json
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: include version sha
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Postpack error (#650)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Added tokens for border-radius context-block and layout-detail and changed context-menu o menu
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: update scripts to work with a single file instead of two
  proprietary/lux-community-design-tokens/src/scripts/generate-themes.mjs
  proprietary/lux-community-design-tokens/src/scripts/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/src/scripts/merge-token-sets.spec.mts
  proprietary/lux-community-design-tokens/src/scripts/split-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/split-token-sets.spec.mts
  proprietary/lux-community-design-tokens/src/scripts/validate-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/validate-token-sets.spec.mts
Due: none

chore: remove unnecessary files and update ci
  .github/workflows/continuous-deployment.yml
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
  proprietary/lux-community-design-tokens/src/voorbeeld.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: update documentation and add tokensets to tokenorder
  proprietary/lux-community-design-tokens/CONTRIBUTING.md
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added tokens divider that has vertical and subtle dividers
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added normal width
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added color
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changed margin
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Bwb/layout tokens (#651)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Bwb/separator tokens & improvements (#652)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: add a script for base set updates
  proprietary/lux-community-design-tokens/src/scripts/token-file-utils.mts
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.mts
  proprietary/lux-community-design-tokens/src/scripts/update-base-token-sets.spec.mts
  proprietary/lux-community-design-tokens/src/scripts/validate-token-sets.mts
Due: none

docs: add base token set update documentation for teams
  proprietary/lux-community-design-tokens/CONTRIBUTING.md
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix
