Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Viewport section tokens toegevoegd
  proprietary/design-tokens/src/imported/component/section.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

inline en block omgedraaid
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token verplaatst naar common laag en figma bieb.
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: invalid styling border issue
  packages/components-react/src/select/Select.css
Due: prettier --fix, stylelint --allow-empty-input

fix: invalid border style
  packages/components-react/src/select/Select.css
Due: prettier --fix, stylelint --allow-empty-input

Feat/select restpunten (#419)
  packages/components-react/src/select/Select.css
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(370): Add FormSummary React component via Utrecht library
  packages/components-react/src/form-summary/FormSummary.tsx
  packages/components-react/src/form-summary/test/FormSummary.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(370): Remove unused import in FormSummary test
  packages/components-react/src/form-summary/test/FormSummary.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Revert conversion to W3C DTCG format
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/component/icon-logo.json
  proprietary/design-tokens/src/imported/component/login link.json
  proprietary/design-tokens/src/imported/core/border.json
  proprietary/design-tokens/src/imported/core/color.json
  proprietary/design-tokens/src/imported/core/font.json
  proprietary/design-tokens/src/imported/core/other.json
  proprietary/design-tokens/src/imported/core/spacing.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-description.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-select.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/KOOP.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

skip link tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-skip-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

aan thema toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

focus styles linken naar common
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

text-area hover ook naar 2px.
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Focus en border width van text-input en text area gelinkt.
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Create poes-fiets-bel.md
  .changeset/poes-fiets-bel.md
Due: markdownlint, prettier --check

Create boom-groen-kaal.md
  .changeset/boom-groen-kaal.md
Due: markdownlint, prettier --check

Create praat-gaap-step.md
  .changeset/praat-gaap-step.md
Due: markdownlint, prettier --check

Create bom-cola-gast.md
  .changeset/bom-cola-gast.md
Due: markdownlint, prettier --check

focus styles linken naar common (#433)
  .changeset/boom-groen-kaal.md
  proprietary/design-tokens/src/imported/nl/utrecht-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Skip link tokens toevoegen poging 2 (#432)
  .changeset/poes-fiets-bel.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-skip-link.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add changeset for select focus outline fix
  .changeset/moody-sheep-mix.md
Due: markdownlint, prettier --check

Section responsive maken (#427)
  .changeset/praat-gaap-step.md
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/section.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/boom-groen-kaal.md
  .changeset/poes-fiets-bel.md
  .changeset/praat-gaap-step.md
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add changeset for select focus outline fix (#435)
  .changeset/moody-sheep-mix.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/boom-groen-kaal.md
  .changeset/moody-sheep-mix.md
  .changeset/poes-fiets-bel.md
  .changeset/praat-gaap-step.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Restructure the storybook documentation pages
  packages/storybook/config/preview.tsx
  packages/storybook/src/documentation/developer/versioning.mdx
  packages/storybook/src/documentation/introduction.nlds.md
  packages/storybook/src/documentation/lux/aan-de-slag/designers.md
  packages/storybook/src/documentation/lux/aan-de-slag/designers.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developer/community-component-aanleveren.md
  packages/storybook/src/documentation/lux/aan-de-slag/developer/community-component-aanleveren.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developer/versioning.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/managers.md
  packages/storybook/src/documentation/lux/aan-de-slag/managers.mdx
  packages/storybook/src/documentation/lux/architectuur/kwaliteit-componenten.mdx
  packages/storybook/src/documentation/lux/architectuur/nl-design-system.md
  packages/storybook/src/documentation/lux/architectuur/nl-design-system.mdx
  packages/storybook/src/documentation/lux/architectuur/technieken-frameworks.mdx
  packages/storybook/src/documentation/lux/architectuur/toegankelijkheid.md
  packages/storybook/src/documentation/lux/architectuur/toegankelijkheid.mdx
  packages/storybook/src/documentation/lux/faq.md
  packages/storybook/src/documentation/lux/faq.mdx
  packages/storybook/src/documentation/lux/introduction.md
  packages/storybook/src/documentation/lux/introduction.mdx
  packages/storybook/src/documentation/lux/license.mdx
  packages/storybook/src/documentation/lux/notice.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add changelogs
  packages/storybook/src/documentation/lux/changelogs/changelog-design-tokens.mdx
  packages/storybook/src/documentation/lux/changelogs/changelog-react.mdx
  packages/storybook/src/documentation/lux/changelogs/changelog-stencil-react.mdx
  packages/storybook/src/documentation/lux/changelogs/changelog-stencil.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Moved design token docs to LUX folder
  packages/storybook/src/documentation/design-tokens/common/border-tokens.mdx
  packages/storybook/src/documentation/design-tokens/common/color-tokens.mdx
  packages/storybook/src/documentation/design-tokens/common/focus-tokens.mdx
  packages/storybook/src/documentation/design-tokens/common/font-tokens.mdx
  packages/storybook/src/documentation/design-tokens/common/grid-tokens.mdx
  packages/storybook/src/documentation/design-tokens/common/sizing-tokens.mdx
  packages/storybook/src/documentation/design-tokens/community-components.mdx
  packages/storybook/src/documentation/design-tokens/core/border-tokens.mdx
  packages/storybook/src/documentation/design-tokens/core/color-tokens.mdx
  packages/storybook/src/documentation/design-tokens/core/font-tokens.mdx
  packages/storybook/src/documentation/design-tokens/core/spacing-tokens.mdx
  packages/storybook/src/documentation/design-tokens/design-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Moved and updated licence and notice docs
  NOTICE.md
  packages/storybook/src/documentation/lux/license.mdx
  packages/storybook/src/documentation/lux/notice.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add Architectuur doc folder and move dev docs there
  SEMVER.md
  packages/storybook/src/documentation/lux/aan-de-slag/designers.md
  packages/storybook/src/documentation/lux/aan-de-slag/designers.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developer/versioning.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/managers.md
  packages/storybook/src/documentation/lux/aan-de-slag/managers.mdx
  packages/storybook/src/documentation/lux/architectuur/frameworks.mdx
  packages/storybook/src/documentation/lux/architectuur/kwaliteit-componenten.mdx
  packages/storybook/src/documentation/lux/architectuur/nl-design-system.md
  packages/storybook/src/documentation/lux/architectuur/nl-design-system.mdx
  packages/storybook/src/documentation/lux/architectuur/technieken-frameworks.mdx
  packages/storybook/src/documentation/lux/architectuur/toegankelijkheid.md
  packages/storybook/src/documentation/lux/architectuur/toegankelijkheid.mdx
  packages/storybook/src/documentation/lux/architectuur/versioning.mdx
  packages/storybook/src/documentation/lux/introduction.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(370): Add exports to FormSummary component and start with Storybook for component
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-summary/form-stories.mdx
  packages/storybook/src/react-components/form-summary/form-summary.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added textarea component
  packages/components-react/src/index.ts
  packages/components-react/src/textarea/Textarea.tsx
  packages/components-react/src/textarea/test/Textarea.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/textarea/textarea.mdx
  packages/storybook/src/react-components/textarea/textarea.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added textarea form field
  packages/components-react/src/form-field-textarea/FormFieldTextarea.tsx
  packages/components-react/src/form-field-textarea/test/form-field-textarea.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/textarea/Textarea.tsx
  packages/storybook/src/react-components/form-field-textarea/form-field-textarea.mdx
  packages/storybook/src/react-components/form-field-textarea/form-field-textarea.stories.tsx
  packages/storybook/src/react-components/form-field-textarea/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
