Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

fix(366): Voeg Utrecht action design tokens voor correct cursor in Button component
  .changeset/silent-avocados-shake.md
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added changeset
  .changeset/twelve-stingrays-talk.md
Due: markdownlint, prettier --check

feat: updated test
  packages/components-react/src/form-field-textarea/test/form-field-textarea.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added new utrecht-actions tokens to metadata file
  proprietary/design-tokens/src/imported/$metadata.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix(366): Cursor in Button component (#450)
  .changeset/silent-avocados-shake.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: applying pr review feedback
  packages/components-react/src/form-field-textarea/FormFieldTextarea.tsx
  packages/components-react/src/textarea/test/Textarea.spec.tsx
  packages/storybook/src/react-components/textarea/textarea.mdx
  packages/storybook/src/react-components/textarea/textarea.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Add developer documentation
  NOTICE.md
  packages/storybook/src/documentation/lux/aan-de-slag/community-component-aanleveren.md
  packages/storybook/src/documentation/lux/aan-de-slag/community-component-aanleveren.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/developers.mdx
  packages/storybook/src/documentation/lux/aan-de-slag/managers.mdx
  packages/storybook/src/documentation/lux/introduction.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add changeset
  .changeset/green-seals-lie.md
Due: markdownlint, prettier --check

added linklist component
  .changeset/long-dogs-act.md
  packages/components-react/src/index.ts
  packages/components-react/src/link-list/LinkList.tsx
  packages/components-react/src/link-list/test/Link-list.spec.tsx
  packages/storybook/src/react-components/link-list/link-list.mdx
  packages/storybook/src/react-components/link-list/link-list.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

update test import
  packages/components-react/src/link-list/test/Link-list.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

breadcrumbs component
  .changeset/flat-cups-scream.md
  packages/components-react/src/breadcrumbs/Breadcrumbs.test.tsx
  packages/components-react/src/breadcrumbs/Breadcrumbs.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/breadcrumbs/breadcrumbs.mdx
  packages/storybook/src/react-components/breadcrumbs/breadcrumbs.stories.tsx
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumbs.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

linter fix
  packages/components-react/src/breadcrumbs/Breadcrumbs.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

linter fix
  packages/components-react/src/link-list/test/Link-list.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Alert improvements
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: textarea read-only variable names incorrect for background-color and border-color
  packages/components-react/src/textarea/Textarea.css
  packages/components-react/src/textarea/Textarea.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix(459): Remove test files from tsconfig exclude so they are being interpreted by Typescript and parse JSX correctly
  .changeset/two-swans-reply.md
  packages/components-react/tsconfig.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix(459): Add Jest setup file to tsconfig so methods on expect are recognized
  .changeset/two-swans-reply.md
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.ts
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/tsconfig.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Accordeon
  packages/components-react/src/accordion/Accordion.spec.tsx
  packages/components-react/src/accordion/Accordion.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/accordion/accordion.mdx
  packages/storybook/src/react-components/accordion/accordion.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(370): Add exports to FormSummary component and start with Storybook for component
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-summary/form-stories.mdx
  packages/storybook/src/react-components/form-summary/form-summary.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(370): Add FormSummary React component via Utrecht library
  packages/components-react/src/form-summary/FormSummary.tsx
  packages/components-react/src/form-summary/test/FormSummary.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(370): Remove unused import in FormSummary test
  packages/components-react/src/form-summary/test/FormSummary.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update test and icons
  packages/components-react/src/breadcrumbs/Breadcrumbs.test.tsx
  packages/storybook/src/react-components/breadcrumbs/breadcrumbs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update MD files
  README.md
  SEMVER.md
Due: markdownlint, prettier --check

fix(459): Remove test files from tsconfig exclude so they are being interpreted by Typescript (#461)
  .changeset/two-swans-reply.md
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.ts
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/tsconfig.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/boom-groen-kaal.md
  .changeset/moody-sheep-mix.md
  .changeset/poes-fiets-bel.md
  .changeset/praat-gaap-step.md
  .changeset/silent-avocados-shake.md
  .changeset/two-swans-reply.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added hover and active state styling, updated icons
  packages/components-react/src/link-list/LinkList.css
  packages/components-react/src/link-list/LinkList.tsx
  packages/storybook/src/react-components/link-list/link-list.mdx
  packages/storybook/src/react-components/link-list/link-list.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

breadcrumb set toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Aliases ingevuld
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token aliases update
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

increase specificity to ensure lux styling is applied
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

changeset
  .changeset/silver-glasses-kneel.md
Due: markdownlint, prettier --check

changeset
  .changeset/modern-lamps-help.md
Due: markdownlint, prettier --check

pseudo states
  packages/storybook/src/react-components/link-list/link-list.mdx
  packages/storybook/src/react-components/link-list/link-list.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update tokens linklist
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fixex alert-icon block-size because the icon has display: inline-block
  packages/components-react/src/alert/Alert.css
Due: prettier --fix, stylelint --allow-empty-input

Thema aangepast
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumbs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Tokens omgezet naar Token Studio format
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumbs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

link roze
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
