Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

chore: add NL Design System to trusted packages
  pnpm-workspace.yaml
Due: none

chore: synchronize pnpm-workspace.yaml with example
  pnpm-workspace.yaml
Due: none

docs(release): design system packages
  .changeset/purple-boxes-wear.md
  .changeset/red-boxes-wear.md
  .changeset/six-paths-speak.md
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

ci: enable pnpm audit for critical issues and show a link for more information
  .github/workflows/continuous-deployment.yml
Due: none

chore: force a transitive dependency to a version without a critical vulnerability
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: patch-upgrade next to non-vulnerable version
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade Node.js to 24
  .nvmrc
Due: none

chore: increase allowed Node.js version range to 24-25
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade @types/node to match the used Node.js version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade to pnpm@10.28.1
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: set minimum version of pnpm to 10.17
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(lux-community): try to get design tokens from koop-temp working (WIP)
  .editorconfig
  .eslintignore
  .gitignore
  .nlds.eslintrc.json
  .prettierignore
  package.json
  packages/storybook/package.json
  patches/@tokens-studio__sd-transforms@0.15.2.patch
  patches/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/package.json
  proprietary/lux-community-design-tokens/LICENSE.md
  proprietary/lux-community-design-tokens/figma/koop.figma.tokens.json
  proprietary/lux-community-design-tokens/figma/out/figma-tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/figma-token-generator.mjs
  proprietary/lux-community-design-tokens/src/json-merger.mjs
  proprietary/lux-community-design-tokens/style-dictionary.config.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

ci: use actions/deploy-pages (and replace JamesIves/github-pages-deploy-action) to deploy storybook
  .github/workflows/continuous-deployment.yml
Due: none

chore: kernteam@ naar info@
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
Due: markdownlint, prettier --check

fix: update pnpm versie
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: update pnpm versie & kernteam@ naar info@ (#588)
  CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.nl.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: add lux-community-design-tokens package
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix typo
  proprietary/design-tokens/package.json
  proprietary/lux-community-design-tokens/LICENSE.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add readme
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

feat: add community components package
  .nlds.eslintrc.json
  packages/lux-community-components-react/.eslintrc.json
  packages/lux-community-components-react/README.md
  packages/lux-community-components-react/jest.config.mjs
  packages/lux-community-components-react/jest.setup.ts
  packages/lux-community-components-react/package.json
  packages/lux-community-components-react/src/index.ts
  packages/lux-community-components-react/tsconfig.json
  packages/lux-community-components-react/tsconfig.test.json
  packages/lux-community-components-react/vite.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/funny-news-lie.md
Due: markdownlint, prettier --check

chore: replace jest with vitest
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.ts
  packages/lux-community-components-react/package.json
  packages/lux-community-components-react/vite.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove jest references
  .nlds.eslintrc.json
  packages/lux-community-components-react/.eslintrc.json
  packages/lux-community-components-react/jest.config.mjs
  packages/lux-community-components-react/jest.setup.ts
  packages/lux-community-components-react/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix types for test file
  .lintstagedrc.json
  .nlds.eslintrc.json
  packages/lux-community-components-react/package.json
  packages/lux-community-components-react/src/index.spec.tsx
  packages/lux-community-components-react/src/index.tsx
  packages/lux-community-components-react/tsconfig.json
  packages/lux-community-components-react/tsconfig.test.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix
