Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deployment yaml aanpassing voor Chromatic
  .github/workflows/continuous-deployment.yml
Due: none

Test to trigger Chromatic
  packages/storybook/src/web-components/button-login/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Test to trigger Chromatic
  .github/workflows/continuous-deployment.yml
  packages/storybook/src/web-components/button-login/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Test to trigger Chromatic
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Test to trigger Chromatic
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): filter system tokens from dist
  proprietary/design-tokens/build-tokens.mjs
Due: none

build: pin GitHub Actions using hashes
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@860ab3fffd30abf563dc6081e57acc5872997d8b 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Test to trigger Chromatic and better focus-ring
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: prettier --fix, stylelint --allow-empty-input

Hebben jullie nu aparte files?
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/common/default.json
  proprietary/design-tokens/studio/common/product.json
  proprietary/design-tokens/studio/common/viewport (beta)/lg.json
  proprietary/design-tokens/studio/common/viewport (beta)/md.json
  proprietary/design-tokens/studio/common/viewport (beta)/sm.json
  proprietary/design-tokens/studio/common/viewport (beta)/xl.json
  proprietary/design-tokens/studio/common/viewport (beta)/xs.json
  proprietary/design-tokens/studio/component/alert.json
  proprietary/design-tokens/studio/component/button login.json
  proprietary/design-tokens/studio/component/button.json
  proprietary/design-tokens/studio/component/link.json
  proprietary/design-tokens/studio/core/default.json
  proprietary/design-tokens/studio/mode/dark (beta).json
  proprietary/design-tokens/studio/mode/light.json
  proprietary/design-tokens/studio/product/DigiD.json
  proprietary/design-tokens/studio/product/Logius.json
  proprietary/design-tokens/studio/product/MijnOverheid.json
  proprietary/design-tokens/studio/product/NLdoc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Versie toegespits op Token studio ideal
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/common/default.json
  proprietary/design-tokens/studio/common/viewport (beta)/xl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Versie zoals donderdag 24 mei besproken
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/common/product.json
  proprietary/design-tokens/studio/product/Logius.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: handle review feedback
  packages/storybook/src/design-tokens/community-components.mdx
  packages/storybook/src/design-tokens/design-tokens.mdx
  packages/storybook/src/design-tokens/lagen.mdx
  packages/storybook/src/developer/design-tokens.mdx
  packages/storybook/src/developer/naamgeving-design-tokens.mdx
  packages/storybook/src/documentation/design-tokens.md
  packages/storybook/src/documentation/design-tokens/community-components.md
  packages/storybook/src/documentation/design-tokens/design-tokens.md
  packages/storybook/src/documentation/design-tokens/lagen.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/mode/dark (beta).json
  proprietary/design-tokens/studio/mode/light.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Mapping van NLdoc toegevoegd! Klaar voor review, kunnen jullie werken met deze opzet?
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/component/button login.json
  proprietary/design-tokens/studio/component/button.json
  proprietary/design-tokens/studio/product/NLdoc/Ridderkerk.json
  proprietary/design-tokens/studio/product/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/studio/product/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/studio/product/NLdoc/default.json
  proprietary/design-tokens/studio/product/NLdoc/mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

extra update?
  proprietary/design-tokens/studio/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Opzet meer toegespits om tokens goed te beheren.
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/common/colors-dark.json
  proprietary/design-tokens/studio/common/colors-light.json
  proprietary/design-tokens/studio/common/colors-product.json
  proprietary/design-tokens/studio/common/default.json
  proprietary/design-tokens/studio/common/dimensions-md.json
  proprietary/design-tokens/studio/common/dimensions-product.json
  proprietary/design-tokens/studio/common/dimensions-xl.json
  proprietary/design-tokens/studio/common/dimensions-xs.json
  proprietary/design-tokens/studio/common/dimensions.json
  proprietary/design-tokens/studio/common/font-16.json
  proprietary/design-tokens/studio/common/font-18.json
  proprietary/design-tokens/studio/common/viewport (beta)/lg.json
  proprietary/design-tokens/studio/common/viewport (beta)/md.json
  proprietary/design-tokens/studio/common/viewport (beta)/sm.json
  proprietary/design-tokens/studio/common/viewport (beta)/xl.json
  proprietary/design-tokens/studio/component/alert.json
  proprietary/design-tokens/studio/component/button login.json
  proprietary/design-tokens/studio/component/button.json
  proprietary/design-tokens/studio/component/link.json
  proprietary/design-tokens/studio/mode/colors-dark.json
  proprietary/design-tokens/studio/mode/colors-light-figma.json
  proprietary/design-tokens/studio/mode/light.json
  proprietary/design-tokens/studio/product/DigiD.json
  proprietary/design-tokens/studio/product/Logius.json
  proprietary/design-tokens/studio/product/MijnOverheid.json
  proprietary/design-tokens/studio/product/NLdoc.json
  proprietary/design-tokens/studio/viewport/dimensions-xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

font in dimensions xs
  proprietary/design-tokens/studio/viewport/dimensions-xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/component/link.json
  proprietary/design-tokens/studio/mode/dark (beta).json
  proprietary/design-tokens/studio/mode/light.json
  proprietary/design-tokens/studio/nl/utrecht-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

success token naamgeving verbeterd.
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/component/alert.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: pr comments
  packages/storybook/src/documentation/design-tokens/lagen.md
Due: markdownlint, prettier --check

Eila toegevoegd
  proprietary/design-tokens/studio/$metadata.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/core/default.json
  proprietary/design-tokens/studio/product/Eila.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update button Eila
  proprietary/design-tokens/studio/product/Eila.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

login-button-gap aangepast
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/common/default.json
  proprietary/design-tokens/studio/component/button login.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

spacing tokens calculation toegevoegd
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

gelinkt met figma
  proprietary/design-tokens/studio/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

spacing core tokens veranderd van type dimension naar type spacing.
  proprietary/design-tokens/studio/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Chromatic in separate job
  .github/workflows/continuous-deployment.yml
Due: none

Chromatic in separate job, using build
  .github/workflows/continuous-deployment.yml
Due: none

Chromatic in separate job, using build and artifact
  .github/workflows/continuous-deployment.yml
Due: none

Chromatic in separate job, fetch-dept 0
  .github/workflows/continuous-deployment.yml
Due: none

Chromatic in separate job, restructure yaml
  .github/workflows/continuous-deployment.yml
Due: none

Reset Chromatic trigger
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: prettier --fix, stylelint --allow-empty-input

chore(components): visual regression blokkeert pipeline (#89)
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@b40eb013f0b30c7a1b724dbec15c93367f47586a 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update, button en button-login en alles erboven de types aangepast.
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/common/default.json
  proprietary/design-tokens/studio/common/viewport (beta)/lg.json
  proprietary/design-tokens/studio/common/viewport (beta)/md.json
  proprietary/design-tokens/studio/common/viewport (beta)/sm.json
  proprietary/design-tokens/studio/common/viewport (beta)/xl.json
  proprietary/design-tokens/studio/common/viewport (beta)/xs.json
  proprietary/design-tokens/studio/component/button login.json
  proprietary/design-tokens/studio/component/button.json
  proprietary/design-tokens/studio/core/default.json
  proprietary/design-tokens/studio/product/DigiD.json
  proprietary/design-tokens/studio/product/Eila.json
  proprietary/design-tokens/studio/product/Logius.json
  proprietary/design-tokens/studio/product/MijnOverheid.json
  proprietary/design-tokens/studio/product/NLdoc/mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
