Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

WIP: rearranging and ordering pages
  packages/storybook/config/preview.tsx
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/component/form/option-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

radio hernoemd naar radio-button
  proprietary/design-tokens/src/imported/nl/utrecht-form/option-radio.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

utrecht checkbox-tokens geupdate
  proprietary/design-tokens/src/imported/nl/utrecht-form/option-checkbox.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: fix semver.md path, faq to seperate md, added links and assets
  packages/storybook/config/main.ts
  packages/storybook/src/assets/angular.png
  packages/storybook/src/assets/figma.png
  packages/storybook/src/assets/github.png
  packages/storybook/src/assets/javascript.png
  packages/storybook/src/assets/npm.png
  packages/storybook/src/assets/react.png
  packages/storybook/src/assets/slack.png
  packages/storybook/src/assets/storybook.png
  packages/storybook/src/assets/vue.png
  packages/storybook/src/documentation/developer/versioning.mdx
  packages/storybook/src/documentation/faq.md
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/documentation/introduction.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added link icons
  packages/storybook/src/web-components/link/link.stories.tsx
  packages/web-components-stencil/src/components/link/link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

textarea tokens en pointersize tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/pointer-target.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/textarea.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

...
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

text-input tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/text-input.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

form-field-description tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field-description.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field-error-message.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/radio-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added link icons to docs
  packages/storybook/src/web-components/link/link.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/stale-worms-glow.md
Due: markdownlint, prettier --check

Update packages/web-components-stencil/src/components/link/link.tsx
  packages/web-components-stencil/src/components/link/link.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Updated notice, nicer Info block
  NOTICE.md
  packages/storybook/src/documentation/introduction.md
Due: markdownlint, prettier --check

Renamed Button login to Login Link
  .changeset/cuddly-shrimps-repair.md
  packages/components-css/button-login/README.md
  packages/components-css/button-login/button-login.html
  packages/components-css/login-link/README.md
  packages/components-css/login-link/login-link.html
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/web-components/button-login/button-login-themes.mdx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/storybook/src/web-components/login-link/inlogstraat.mdx
  packages/storybook/src/web-components/login-link/login-link-themes.mdx
  packages/storybook/src/web-components/login-link/login-link.mdx
  packages/storybook/src/web-components/login-link/login-link.stories.tsx
  packages/storybook/src/web-components/login-link/tokens.json
  packages/storybook/src/web-components/login-link/visual/Agents.tsx
  packages/storybook/src/web-components/login-link/visual/States.tsx
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/components/login-link/README.md
  packages/web-components-stencil/src/components/login-link/constants.ts
  packages/web-components-stencil/src/components/login-link/login-link.scss
  packages/web-components-stencil/src/components/login-link/login-link.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/login-link.spec.tsx
  packages/web-components-stencil/src/components/login-link/types.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/login link.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fixed tests
  packages/web-components-stencil/src/components/login-link/test/unit/login-link.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(components): Rename Button login to Login Link (#223)
  .changeset/cuddly-shrimps-repair.md
  packages/components-css/button-login/README.md
  packages/components-css/button-login/button-login.html
  packages/components-css/login-link/README.md
  packages/components-css/login-link/login-link.html
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/web-components/button-login/button-login-themes.mdx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/storybook/src/web-components/login-link/inlogstraat.mdx
  packages/storybook/src/web-components/login-link/login-link-themes.mdx
  packages/storybook/src/web-components/login-link/login-link.mdx
  packages/storybook/src/web-components/login-link/login-link.stories.tsx
  packages/storybook/src/web-components/login-link/tokens.json
  packages/storybook/src/web-components/login-link/visual/Agents.tsx
  packages/storybook/src/web-components/login-link/visual/States.tsx
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/components/login-link/README.md
  packages/web-components-stencil/src/components/login-link/constants.ts
  packages/web-components-stencil/src/components/login-link/login-link.scss
  packages/web-components-stencil/src/components/login-link/login-link.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/login-link.spec.tsx
  packages/web-components-stencil/src/components/login-link/types.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/login link.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(storybook): pr comments
  packages/storybook/config/preview.tsx
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/styles/theme.css
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Packages prepped for publish
  packages/web-components-react/README.md
  packages/web-components-react/package.json
  packages/web-components-stencil/README.md
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Updated Readme's
  packages/web-components-react/README.md
  packages/web-components-stencil/README.md
Due: markdownlint, prettier --check

Updated Package.json's
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

tokens gedupliceerd: - min-block-size - padding-block-*
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token value update
  proprietary/design-tokens/src/imported/component/button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Imported Utrecht react library
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

min-inline-size toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added components-react to storybook package.json
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Rename appearance, add size prop
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/button.scss
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/components-react/button/button.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Publish ingericht
  packages/components-react/README.md
  packages/components-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Fix CSS properties
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/button.scss
  packages/components-react/src/index.ts
  packages/storybook/src/components-react/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

push
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/form/form-field-label-ander-voorstel.json
  proprietary/design-tokens/src/imported/component/form/form-field-label.json
  proprietary/design-tokens/src/imported/component/form/form-field-option-label.json
  proprietary/design-tokens/src/imported/component/form/option-checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-label.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

hallo
  packages/components-react/src/button/button.scss
Due: prettier --fix, stylelint --allow-empty-input

first version of the Alert
  packages/components-react/src/Alert.css
  packages/components-react/src/Alert.tsx
  packages/components-react/src/icons/CrossIcon.tsx
  packages/components-react/src/icons/ErrorIcon.tsx
  packages/components-react/src/icons/InfoIcon.tsx
  packages/components-react/src/icons/SuccessIcon.tsx
  packages/components-react/src/icons/WarningIcon.tsx
  packages/components-react/src/icons/index.ts
  packages/storybook/src/components-react/alert/alert.mdx
  packages/storybook/src/components-react/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

pnpm lock file change
  pnpm-lock.yaml
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
