Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: icons tsconfig
  proprietary/icons/package.json
  proprietary/icons/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: separate js&jsx from ts&tsx eslint config
  eslint.config.mjs
Due: none

fix: fix fix fix
  eslint.config.mjs
  packages/components-react/tsconfig.test.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: revert 79f256cf2b89feea38cc741d1e7f35f952d3a281
  eslint.config.mjs
Due: none

fix: imports
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
Due: none

Revert "fix: revert 79f256cf2b89feea38cc741d1e7f35f952d3a281"
  eslint.config.mjs
Due: none

fix: prettier config
  .nlds.prettierrc.cjs
Due: none

fix: revert shit
  package.json
  proprietary/icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: automatically merge community token sets with RHC tokens json (#596)
  .changeset/bright-numbers-watch.md
  .github/workflows/continuous-deployment.yml
  .nlds.prettierrc.cjs
  eslint.config.mjs
  package.json
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/radio-button/RadioButton.css
  packages/components-react/tsconfig.test.json
  packages/lux-community-components-react/package.json
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
  proprietary/lux-community-design-tokens/tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: update koop token file from koop-temporary repo
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix dependabot group
  .github/dependabot.yml
Due: none

feat: add CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add CODEOWNERS (#598)
  .github/CODEOWNERS
Due: none

ci: remove GITHUB_TOKEN in changesets step
  .github/workflows/continuous-deployment.yml
Due: none

feat(000000): Add sample change to test pr policy
  proprietary/design-tokens/src/imported/core/color.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: retrieve GH_TOKEN from the correct environment
  .github/workflows/continuous-deployment.yml
Due: none

ci: fix step title
  .github/workflows/continuous-deployment.yml
Due: none

ci: checkout branch with same token as changeset step
  .github/workflows/continuous-deployment.yml
Due: none

fix: publish script and copy newest koop tokens
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: revert to not publishing lib/ (token jsons) for now
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/short-suns-love.md
Due: markdownlint, prettier --check

fix: publish script and copy newest koop tokens (#605)
  .changeset/short-suns-love.md
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset
  .changeset/hot-trainers-sing.md
Due: markdownlint, prettier --check

fix: only release one package for now
  .changeset/hot-trainers-sing.md
Due: markdownlint, prettier --check

chore: add changeset (#606)
  .changeset/hot-trainers-sing.md
Due: markdownlint, prettier --check

fix: add --provenance option to publish command
  .github/workflows/continuous-deployment.yml
Due: none

Revert "fix: add --provenance option to publish command"
  .github/workflows/continuous-deployment.yml
Due: none

chore: add changeset
  .changeset/honest-poems-talk.md
Due: markdownlint, prettier --check

fix: add provenance option to repo environment (#607)
  .changeset/honest-poems-talk.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/tame-oranges-tell.md
Due: markdownlint, prettier --check

chore: add changeset (#608)
  .changeset/tame-oranges-tell.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/bright-numbers-watch.md
  .changeset/funny-news-lie.md
  .changeset/honest-poems-talk.md
  .changeset/hot-trainers-sing.md
  .changeset/purple-boxes-wear.md
  .changeset/red-boxes-wear.md
  .changeset/short-suns-love.md
  .changeset/six-paths-speak.md
  .changeset/tame-oranges-tell.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages (#434)
  .changeset/bright-numbers-watch.md
  .changeset/funny-news-lie.md
  .changeset/honest-poems-talk.md
  .changeset/hot-trainers-sing.md
  .changeset/purple-boxes-wear.md
  .changeset/red-boxes-wear.md
  .changeset/short-suns-love.md
  .changeset/six-paths-speak.md
  .changeset/tame-oranges-tell.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: support themes in community design tokens package
  .gitignore
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
