Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Deploying to gh-pages from @ nl-design-system/lux@b2eea26843d2165f1bd95d61afa944641b7b0902 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

no-tokens invullen voor default button, pressed en focus states
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

1e update
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

wisselen naar common biblotheek
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

descriptions rijksfont verwijderd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

core tokens ge-exporteerd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update, morgen verder
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

- MO font-sizes level-3 t/m 5 toegevoegd - MO font-sizes gelinkt aan de core-laag
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

duplicated de font-sizes en line-heights naar alle product folders
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

bug missing links token studio gefixt
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

xl font-sizes gedupliceerd naar de andere modes (md, sm etc).
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

level-5 font tokens verwijderd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Figma.product token toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

van desktop mobile naar large en small scale bij de core font-sizes.
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

small-scale ingesteld voor MO
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

common biblotheek gelinkt
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update small scale font size xl
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

linked to Figma
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

product button font sizes geupdated met de nieuwe core tokens
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

small scale 36 punt geupdate. Is ergens verloren gegaan?
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update aan de components met de nieuwe font tokens
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP
  packages/web-components-react/src/namespaces.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fixup! WIP
  packages/web-components-react/src/namespaces.d.ts
  packages/web-components-react/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP wrap Utrecht components in Lux, now with icons
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/icons/chevron-left.tsx
  packages/web-components-stencil/src/icons/chevron-right.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/utils/helpers/attrBoolean.ts
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Removed composition token experiment, because breaks build
  proprietary/design-tokens/src/imported/common/viewport/xl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Removed composition token experiment, because breaks build (#184)
  proprietary/design-tokens/src/imported/common/viewport/xl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix for calc transform
  proprietary/design-tokens/build/build-tokens.mjs
Due: none

Fix for calc transform (#185)
  proprietary/design-tokens/build/build-tokens.mjs
Due: none

feat(design-tokens): font tokens uitwerken (#166)
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@04bc6c692f83e0c129d2f3e697f32954b958ea1b 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: build problems fix? Moar stories
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/global/app.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): update font tokens
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: patch round 2024-08
  .ncurc.major.cjs
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs: add /patches/README.md
  patches/README.md
Due: markdownlint, prettier --check

WIP: states, Note: looks like not all css from utrecht is implemented in webcomponents...
  packages/storybook/package.json
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

WIP: no salmon tonight
  packages/web-components-stencil/src/components/button/button.scss
Due: prettier --fix, stylelint --allow-empty-input

docs: add TODO comments linking to backlog story
  .ncurc.major.cjs
  .ncurc.minor.cjs
  patches/README.md
Due: markdownlint, prettier --check

chore: update Node.js to 20.16.0 (LTS)
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix
