Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

chore(releases): add canary releases
  .github/workflows/continuous-deployment.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

link list plus page footer tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

no token toegevoegd
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

tokens voor utrecht.column-layout toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
  proprietary/design-tokens/src/imported/viewport/xl.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token waarde update
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

waarde utrecht.column-layout.column-width token aangepast
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

common token toegevoegd voor icon.inset-icon-start
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

token rhc/utrecht/todo aangepast
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

page footer column-widths toegevoegd
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Utrecht toegevoegd
  .github/ISSUE_TEMPLATE/new_component_template.md
  packages/components-react/package.json
  packages/components-react/src/index.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Definition of done toegevoegd
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

lux heading tokens verwijderd, level-5 common tokens toegevoegd h5 en h6 utrecht toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/heading.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

eva naamgeving merge conflict
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(releases): add canary releases (#246)
  .github/workflows/continuous-deployment.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(releases): Update continuous-deployment.yml
  .github/workflows/continuous-deployment.yml
Due: none

Added link to Utrecht testing page
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

chore(releases): Update continuous-deployment.yml (#270)
  .github/workflows/continuous-deployment.yml
Due: none

chore(github): Extend issue template with DOD (#269)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

fix: charset issue
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): heading toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

icon-inset voor alert xs veranderd max grid token in alle viewportsets geplaatst
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

alert inset icon weer terug gezet
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): login link focus tokens toevoegen
  proprietary/design-tokens/src/imported/component/login link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update lux.alert.inset-icon token
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Component volgorde alfabetisch
  proprietary/design-tokens/src/imported/$metadata.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(docs): Update semver docs with canary releases
  SEMVER.md
Due: markdownlint, prettier --check

spaties nldoc line-height fixen
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

configured build and publish; removed export all Utrecht components
  packages/components-react/package.json
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix
