Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Feat/textarea (#451)
  .changeset/twelve-stingrays-talk.md
  packages/components-react/src/form-field-textarea/FormFieldTextarea.tsx
  packages/components-react/src/form-field-textarea/test/form-field-textarea.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/textarea/Textarea.css
  packages/components-react/src/textarea/Textarea.tsx
  packages/components-react/src/textarea/test/Textarea.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-textarea/form-field-textarea.mdx
  packages/storybook/src/react-components/form-field-textarea/form-field-textarea.stories.tsx
  packages/storybook/src/react-components/form-field-textarea/visual/States.tsx
  packages/storybook/src/react-components/textarea/textarea.mdx
  packages/storybook/src/react-components/textarea/textarea.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

link-kleur weer blauw
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix link to github repo in package.json files
  .changeset/nasty-lemons-stare.md
  packages/components-css/package.json
  packages/components-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Add a release.md file
  RELEASE.md
Due: markdownlint, prettier --check

Added 1.1 of react components and storybook and 2.1 of design token package
  .changeset/boom-groen-kaal.md
  .changeset/moody-sheep-mix.md
  .changeset/poes-fiets-bel.md
  .changeset/praat-gaap-step.md
  .changeset/silent-avocados-shake.md
  .changeset/twelve-stingrays-talk.md
  .changeset/two-swans-reply.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Added 1.1 of react components and storybook and 2.1 of design token p… (#471)
  .changeset/boom-groen-kaal.md
  .changeset/moody-sheep-mix.md
  .changeset/poes-fiets-bel.md
  .changeset/praat-gaap-step.md
  .changeset/silent-avocados-shake.md
  .changeset/twelve-stingrays-talk.md
  .changeset/two-swans-reply.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

React components/formfield checkbox specificity (#468)
  .changeset/silver-glasses-kneel.md
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: dependabot config
  .github/dependabot.yml
Due: none

Update pnpm to v10
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Kleuren update separator
  proprietary/design-tokens/src/imported/nl/utrecht-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion-mark.json
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion-mark.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Thema's aangepast
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion-mark.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

font-sizes aangepast
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Create new version for checkbox specificity changes
  .changeset/green-seals-lie.md
  .changeset/nasty-lemons-stare.md
  .changeset/silver-glasses-kneel.md
  packages/components-css/CHANGELOG.md
  packages/components-css/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Create new version for checkbox specificity changes (#478)
  .changeset/green-seals-lie.md
  .changeset/nasty-lemons-stare.md
  .changeset/silver-glasses-kneel.md
  packages/components-css/CHANGELOG.md
  packages/components-css/package.json
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/storybook/CHANGELOG.md
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Update pnpm to v10 (#473)
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Link-list component tokens gelijk getrokken
  proprietary/design-tokens/src/imported/nl/utrecht-action.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion-mark.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/nl/utrecht-accordion.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

todo tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/todo-breadcrumb.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
