Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Apply suggestions from code review
  packages/web-components-stencil/src/components/button-login/button-login.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(LUX-13): rename login-method-button to button-login (#41)
  packages/components-css/button-login/README.md
  packages/components-css/button-login/button-login.html
  packages/components-css/login-method-button/README.md
  packages/components-css/login-method-button/login-method-button.html
  packages/storybook/src/web-component-button-login.stories.tsx
  packages/web-components-react/src/index.ts
  packages/web-components-stencil/src/components/button-login/README.md
  packages/web-components-stencil/src/components/button-login/button-login.css
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  packages/web-components-stencil/src/components/button-login/constants.ts
  packages/web-components-stencil/src/components/button-login/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/button-login/test/unit/button-login.spec.tsx
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/test/unit/login-method-button.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/types.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  proprietary/design-tokens/src/components/lux/button-login.dark.json
  proprietary/design-tokens/src/components/lux/button-login.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@5d3e9e8e124d4a8c4b5d4977820148d4506fd25b 🚀
  assets/Color-6VNJS4EI-B3TpY8Op.js
  assets/Color-6VNJS4EI-yz_Rdk0h.js
  assets/DocsRenderer-NNNQARDV-DCC_oC7i.js
  assets/DocsRenderer-NNNQARDV-DU_TJFTG.js
  assets/WithTooltip-V3YHNWJZ-1wD718Vc.js
  assets/WithTooltip-V3YHNWJZ-DGCnnVtU.js
  assets/chunk-HLWAVYOI-B0brnbK_.js
  assets/formatter-SWP5E3XI-CASCMnwI.js
  assets/iframe-C9TZf58B.js
  assets/iframe-CxWq1xll.js
  assets/introduction.stories-CE-PvURZ.js
  assets/license.stories-DfxS4iya.js
  assets/lux-button-login.entry-BqHaym8-.js
  assets/lux-icon-logo-digid_3.entry-BYOl6hEu.js
  assets/lux-icon-logo-digid_3.entry-CdUb3YIJ.js
  assets/lux-login-method-button.entry-0t0Ufid-.js
  assets/notice.stories-DJpiULK9.js
  assets/preview-4OrjNDrW.js
  assets/preview-6NwGts5s.js
  assets/preview-BhiC2KMC.css
  assets/preview-Cff6OLcK.css
  assets/preview-oAcdx_O4.js
  assets/preview-trRd73Yi.js
  assets/syntaxhighlighter-B5GMVT5T-oj0Pe6t6.js
  assets/syntaxhighlighter-B5GMVT5T-onsenWZn.js
  assets/web-component-button-login.stories-DsCJOVER.js
  assets/web-component-login-method-button.stories-gOtT_mrN.js
  iframe.html
  index.json
  project.json
  stories.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(button-login): add method name for assistive technologies
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  packages/web-components-stencil/src/components/button-login/constants.ts
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/styles/index.scss
  packages/web-components-stencil/src/styles/sr-only.scss
  proprietary/design-tokens/src/components/lux/button-login.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(button-login): add basic documentation
  .markdownlint.json
  packages/storybook/src/web-component-button-login.stories.tsx
  packages/storybook/src/web-components/button-login/button-login.md
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(button-login): add a11y section
  packages/storybook/src/web-components/button-login/button-login.md
Due: markdownlint, prettier --check

docs(button-login): add state, agent, language sections
  .markdownlint.json
  packages/storybook/config/preview.tsx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button-login/button-login.md
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

test(button-login): fix after adding sr-only label
  packages/web-components-stencil/src/components/button-login/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/button-login/test/unit/button-login.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: apply PR comments
  packages/storybook/src/web-components/button-login/button-login.md
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: markdownlint, prettier --check, prettier --fix, stylelint --allow-empty-input

chore: add tokens folder for figma
  .gitignore
  proprietary/design-tokens/studio/.gitkeep
Due: none

chore: add tokens folder for figma (#43)
  .gitignore
  proprietary/design-tokens/studio/.gitkeep
Due: none

Deploying to gh-pages from @ nl-design-system/lux@af73949338500de5b1e6527003c80eebaef18ae6 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Tokens toevoegen
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add initial tokens file (#44)
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@fba82e5991437bc9a0169e706949913a050736f3 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update tokens.json
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Volgorde tokensets aangepast
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Variables geconnect
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

themes gevuld
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

tokens geconnect
  proprietary/design-tokens/studio/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs: add installation guide concept
  packages/storybook/src/documentation/installation.md
  packages/storybook/src/documentation/installation.stories.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(button-login): add interactive styleguide page
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/patterns/inlogstraat.md
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/inlogstraat.stories.mdx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: use pnpx instead of npx for husky
  .husky/pre-commit
Due: none

build: install updates
  .ncurc.major.cjs
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

build: bump Storybook version
  .ncurc.major.cjs
  packages/components-css/package.json
  packages/storybook/config/main.ts
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  packages/storybook/vite.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Patch round 2024-04 (#45)
  .husky/pre-commit
  .ncurc.major.cjs
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/config/main.ts
  packages/storybook/config/main.tsx
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  packages/storybook/vite.config.ts
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(button-login): add button login (#42)
  .markdownlint.json
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/patterns/inlogstraat.md
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-component-button-login.stories.tsx
  packages/storybook/src/web-components/button-login/button-login.md
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/inlogstraat.mdx
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  packages/web-components-stencil/src/components/button-login/constants.ts
  packages/web-components-stencil/src/components/button-login/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/button-login/test/unit/button-login.spec.tsx
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/styles/index.scss
  packages/web-components-stencil/src/styles/sr-only.scss
  pnpm-lock.yaml
  proprietary/design-tokens/src/components/lux/button-login.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Commit for test (added volta key, node version manager, see volta.sh)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Package managers all the same version
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(storybook): setup chromatic
  .github/workflows/continuous-deployment.yml
  packages/storybook/config/main.ts
  packages/storybook/config/preview-head.html
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/inlogstraat.mdx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add volta support for node (#69)
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@530f611aeca2148cdc0704027da8942b10b8d779 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: point chromatic to js project instead of dist folder
  .github/workflows/continuous-deployment.yml
Due: none

Prettier, StyleLint and ESLint configs split into NLDS and out own.
  .eslintrc.json
  .lux.prettierrc.cjs
  .lux.stylelintrc.json
  .nlds.eslintrc.json
  .nlds.prettierrc.cjs
  .nlds.stylelintrc.json
  .prettierrc.cjs
  .prettierrc.json
  .stylelintrc.json
  package.json
  packages/storybook/.stylelintrc.json
  packages/storybook/src/styles/theme.css
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/styles/sr-only.scss
  pnpm-lock.yaml
  proprietary/font/src/index.scss
  utils/helpers/mergeDeep.cjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat: implement tokens from Tokens Studio
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/icons/logo.css
  proprietary/design-tokens/config.mjs
  proprietary/design-tokens/missingTokens.dark.json
  proprietary/design-tokens/missingTokens.json
  proprietary/design-tokens/missingTokens.light.json
  proprietary/design-tokens/package.json
  proprietary/design-tokens/studio/$themes.json
  proprietary/design-tokens/studio/component/button-login/default.json
  proprietary/design-tokens/studio/mode/dark (beta).json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: undo rename of file
  proprietary/design-tokens/studio.mjs
Due: none
