Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(LUX-75): remove example button component
  packages/components-css/button/README.md
  packages/components-css/button/index.scss
  packages/components-react/src/Button.test.tsx
  packages/components-react/src/Button.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/css-button.stories.tsx
  packages/storybook/src/react-button.stories.tsx
  packages/storybook/src/web-component-button.stories.tsx
  packages/storybook/src/web-component-login-method-button.stories.tsx
  packages/web-components-stencil/src/components/button/index.scss
  packages/web-components-stencil/src/components/button/stencil.tsx
  proprietary/design-tokens/src/common/example/focus.tokens.json
  proprietary/design-tokens/src/components/example/button.tokens.json
  proprietary/design-tokens/src/core/example/color.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(LUX-77): apply tokens to logos
  .lintstagedrc.json
  packages/storybook/config/preview.tsx
  packages/storybook/src/web-component-login-method-button.stories.tsx
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  proprietary/assets/src/logos/digid-machtigen.svg
  proprietary/assets/src/logos/digid.svg
  proprietary/assets/src/logos/e-herkenning.svg
  proprietary/assets/src/logos/eidas.svg
  proprietary/design-tokens/config.js
  proprietary/design-tokens/src/common/lux/color.dark.json
  proprietary/design-tokens/src/common/lux/logo.json
  proprietary/design-tokens/src/components/lux/login-method-button.dark.json
  proprietary/design-tokens/src/components/lux/login-method-button.json
  proprietary/font/src/index.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore(components-react): add @jest/globals dependency
  packages/components-react/package.json
  packages/components-react/src/index.test.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Update packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(LUX-73): handle PR comments
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  packages/web-components-stencil/src/utils/http/status.ts
  proprietary/font/src/index.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(storybook): implement select for login-method-button variant attribute
  packages/storybook/src/web-component-login-method-button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: handle UX review comments
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  proprietary/design-tokens/src/common/lux/color.dark.json
  proprietary/design-tokens/src/common/lux/color.json
  proprietary/design-tokens/src/components/lux/login-method-button.dark.json
  proprietary/design-tokens/src/components/lux/login-method-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

build: rename .ncurc.*.js -> .cjs
  .lintstagedrc.json
  .ncurc.major.cjs
  .ncurc.major.js
  .ncurc.minor.cjs
  .ncurc.minor.js
  .ncurc.patch.cjs
  .ncurc.patch.js
  .prettierrc.json
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

build: install patch updates
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

build: install minor updates
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

build: install major updates
  .husky/.gitignore
  .husky/pre-commit
  .ncurc.major.cjs
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: digid icon sizing and alignment
  proprietary/assets/src/logos/digid-machtigen.svg
  proprietary/assets/src/logos/digid.svg
Due: none

Deploying to gh-pages from @ nl-design-system/lux@144b6e0d0cd28889e18a99a1a37f9f7229c8c50e 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: bump ip from 2.0.0 to 2.0.1
  pnpm-lock.yaml
Due: none

chore: bump follow-redirects from 1.15.2 to 1.5.6
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@30a3dac85aaf05f2ae35c62f432caa289781aa44 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test: change placeholder test
  packages/components-react/src/index.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix pipeline issue
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs: remove obsolete section
  packages/components-css/login-method-button/README.md
Due: markdownlint, prettier --check

chore: lint/format .mjs files
  .lintstagedrc.json
  .prettierrc.json
  package.json
  packages/components-react/jest.config.mjs
  packages/components-react/rollup.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@8004954756e91d2057b0eeb0e6c026059dcb4922 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(LUX-111): change the way icons are handled
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.ts.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  packages/web-components-stencil/src/components/login-method-button/logos/digid-machtigen.svg
  packages/web-components-stencil/src/components/login-method-button/logos/digid.svg
  packages/web-components-stencil/src/components/login-method-button/logos/e-herkenning.svg
  packages/web-components-stencil/src/components/login-method-button/logos/eidas.svg
  packages/web-components-stencil/src/components/login-method-button/types.ts
  packages/web-components-stencil/src/icons/logo-digid.tsx
  packages/web-components-stencil/src/icons/logo-eherkenning.tsx
  packages/web-components-stencil/src/icons/logo-eidas.tsx
  packages/web-components-stencil/src/icons/logo.css
  packages/web-components-stencil/src/utils/errors/custom-errors.ts
  packages/web-components-stencil/src/utils/errors/extend-message.ts
  packages/web-components-stencil/src/utils/test/testid.ts
  packages/web-components-stencil/tsconfig.json
  pnpm-lock.yaml
  proprietary/assets/src/logos/digid-machtigen.svg
  proprietary/assets/src/logos/digid.svg
  proprietary/assets/src/logos/e-herkenning.svg
  proprietary/assets/src/logos/eidas.svg
  proprietary/design-tokens/src/common/lux/icon.dark.json
  proprietary/design-tokens/src/common/lux/icon.json
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

test(LUX-19): add unit tests for login-method-button
  packages/components-css/login-method-button/login-method-button.html
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  packages/web-components-stencil/src/components/login-method-button/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/test/unit/login-method-button.spec.tsx
  packages/web-components-stencil/src/utils/errors/custom-errors.ts
  packages/web-components-stencil/src/utils/errors/extend-message.ts
  packages/web-components-stencil/src/utils/http/status.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  packages/web-components-stencil/src/utils/test/element.ts
  packages/web-components-stencil/src/utils/test/testid.spec.ts
  packages/web-components-stencil/src/utils/test/testid.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: use correct spelling for authorization agents
  packages/storybook/src/web-component-login-method-button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix build issue
  packages/storybook/src/web-component-login-method-button.stories.tsx
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: fix build issue
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: handle pr comments
  packages/web-components-stencil/src/components/login-method-button/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/test/unit/login-method-button.spec.tsx
  packages/web-components-stencil/src/utils/test/testid.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test/introduce unit testing
  .eslintrc.js.json
  .eslintrc.json
  .eslintrc.ts.json
  packages/components-css/login-method-button/login-method-button.html
  packages/storybook/src/web-component-login-method-button.stories.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/login-method-button.tsx
  packages/web-components-stencil/src/components/login-method-button/logos/digid-machtigen.svg
  packages/web-components-stencil/src/components/login-method-button/logos/digid.svg
  packages/web-components-stencil/src/components/login-method-button/logos/e-herkenning.svg
  packages/web-components-stencil/src/components/login-method-button/logos/eidas.svg
  packages/web-components-stencil/src/components/login-method-button/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/test/unit/login-method-button.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/types.ts
  packages/web-components-stencil/src/icons/logo-digid.tsx
  packages/web-components-stencil/src/icons/logo-eherkenning.tsx
  packages/web-components-stencil/src/icons/logo-eidas.tsx
  packages/web-components-stencil/src/icons/logo.css
  packages/web-components-stencil/src/utils/http/status.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  packages/web-components-stencil/src/utils/test/element.ts
  packages/web-components-stencil/src/utils/test/testid.spec.ts
  packages/web-components-stencil/src/utils/test/testid.ts
  packages/web-components-stencil/tsconfig.json
  pnpm-lock.yaml
  proprietary/assets/src/logos/digid-machtigen.svg
  proprietary/assets/src/logos/digid.svg
  proprietary/assets/src/logos/e-herkenning.svg
  proprietary/assets/src/logos/eidas.svg
  proprietary/design-tokens/src/common/lux/icon.dark.json
  proprietary/design-tokens/src/common/lux/icon.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@a9f405a9b0427212c2e6aa6d5634506f1f927a42 🚀
  assets/Color-6VNJS4EI-B3TpY8Op.js
  assets/Color-6VNJS4EI-CkadzFnn.js
  assets/DocsRenderer-NNNQARDV-DCC_oC7i.js
  assets/DocsRenderer-NNNQARDV-Dw8hjYNi.js
  assets/WithTooltip-V3YHNWJZ-1wD718Vc.js
  assets/WithTooltip-V3YHNWJZ-BC2lYbZ8.js
  assets/chunk-HLWAVYOI-UwhxvZAC.js
  assets/formatter-SWP5E3XI-D2O-4oUr.js
  assets/iframe-C9TZf58B.js
  assets/iframe-CVSwPjTE.js
  assets/introduction.stories-CWJmhL3G.js
  assets/license.stories-k1MN0It0.js
  assets/lux-icon-logo-digid_3.entry-CdUb3YIJ.js
  assets/lux-login-method-button.entry-0t0Ufid-.js
  assets/lux-login-method-button.entry-BSxP7iPC.js
  assets/notice.stories-DW-ApXom.js
  assets/preview-1MIqZGI5.js
  assets/preview-BXmqKlOW.css
  assets/preview-BhiC2KMC.css
  assets/preview-oAcdx_O4.js
  assets/preview-qf5ZM_zb.js
  assets/preview-trRd73Yi.js
  assets/syntaxhighlighter-B5GMVT5T-C57szk9R.js
  assets/syntaxhighlighter-B5GMVT5T-onsenWZn.js
  assets/testid-33612585-bZ1J8XRW.js
  assets/web-component-login-method-button.stories-CktrDDte.js
  assets/web-component-login-method-button.stories-gOtT_mrN.js
  iframe.html
  index.json
  logos/digid-machtigen.svg
  logos/digid.svg
  logos/e-herkenning.svg
  logos/eidas.svg
  project.json
  stories.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(LUX-13): rename login-method-button to button-login
  packages/components-css/button-login/README.md
  packages/components-css/button-login/button-login.html
  packages/components-css/login-method-button/README.md
  packages/components-css/login-method-button/login-method-button.html
  packages/storybook/src/web-component-button-login.stories.tsx
  packages/web-components-react/src/index.ts
  packages/web-components-stencil/src/components/button-login/README.md
  packages/web-components-stencil/src/components/button-login/button-login.css
  packages/web-components-stencil/src/components/button-login/button-login.tsx
  packages/web-components-stencil/src/components/button-login/constants.ts
  packages/web-components-stencil/src/components/button-login/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/button-login/test/unit/button-login.spec.tsx
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/components/login-method-button/constants.ts
  packages/web-components-stencil/src/components/login-method-button/login-method-button.css
  packages/web-components-stencil/src/components/login-method-button/test/unit/login-method-button.spec.tsx
  packages/web-components-stencil/src/components/login-method-button/types.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  proprietary/design-tokens/src/components/lux/button-login.dark.json
  proprietary/design-tokens/src/components/lux/button-login.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
