Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix missing utrecht-document for some VR tests
  packages/storybook/src/utils/createVisualRegressionStory.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

KOOP thema toevoegen (#362)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/KOOP.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: update Dependabot config
  .github/dependabot.yml
Due: none

feat(components) LUX Button (#163)
  packages/storybook/.stylelintrc.json
  packages/storybook/package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.mdx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/button/tokens.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/global/app.ts
  packages/web-components-stencil/src/icons/chevron-left.tsx
  packages/web-components-stencil/src/icons/chevron-right.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/utils/helpers/attrBoolean.ts
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-focus.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(design-tokens): update typography
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: patch round 2024-08
  .ncurc.major.cjs
  .ncurc.minor.cjs
  .nvmrc
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  patches/README.md
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): font tokens uitwerken (#166)
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design tokens): Tokens voor heading group (#284)
  .changeset/stale-impalas-notice.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-pre-heading.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design tokens): Form tokens toevoegen (#200)
  .changeset/modern-bags-reflect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-document.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-description.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-pointer-target.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages (#197)
  .changeset/cuddly-shrimps-repair.md
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): lux Alert heading tokens toegevoegd
  .changeset/smart-ads-beam.md
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: create changeset for first release (#194)
  .changeset/cuddly-shrimps-repair.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): login link focus tokens toevoegen
  proprietary/design-tokens/src/imported/component/login link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): nieuwe indeling core common (#191)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/core/border.json
  proprietary/design-tokens/src/imported/core/color.json
  proprietary/design-tokens/src/imported/core/font.json
  proprietary/design-tokens/src/imported/core/other.json
  proprietary/design-tokens/src/imported/core/spacing.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): heading toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/EVA.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(github): Extend issue template with DOD (#269)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

feat(react components): document en paragraph (#280)
  .changeset/khaki-camels-cheer.md
  packages/components-react/jest.config.mjs
  packages/components-react/jest.setup.js
  packages/components-react/package.json
  packages/components-react/src/document/Document.tsx
  packages/components-react/src/document/test/document.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/components-react/src/paragraph/test/paragraph.spec.tsx
  packages/components-react/tsconfig.json
  packages/components-react/tsconfig.test.json
  packages/components-react/vite.config.ts
  packages/storybook/config/preview.tsx
  packages/storybook/src/react-components/document/document.mdx
  packages/storybook/src/react-components/document/document.stories.tsx
  packages/storybook/src/react-components/document/tokens.json
  packages/storybook/src/react-components/paragraph/paragraph.mdx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/react-components/paragraph/tokens.json
  packages/storybook/src/utils/createDesignTokensStory.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design tokens): Button update: small variant + utrecht font-sizes voor secondary en subtle (#276)
  .changeset/fifty-lizards-promise.md
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(design tokens): spaties nldoc line-height fixen (#272)
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: replace lerna with pnpm and changesets (#141)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  .npmpackagejsonlintrc.json
  lerna.json
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design tokens): Nieuwe stijling form field invalid (#289)
  .changeset/perfect-zoos-dance.md
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(components): Rename Button login to Login Link (#223)
  .changeset/cuddly-shrimps-repair.md
  packages/components-css/button-login/README.md
  packages/components-css/button-login/button-login.html
  packages/components-css/login-link/README.md
  packages/components-css/login-link/login-link.html
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/web-components/button-login/button-login-themes.mdx
  packages/storybook/src/web-components/button-login/visual/Agents.tsx
  packages/storybook/src/web-components/button-login/visual/States.tsx
  packages/storybook/src/web-components/login-link/inlogstraat.mdx
  packages/storybook/src/web-components/login-link/login-link-themes.mdx
  packages/storybook/src/web-components/login-link/login-link.mdx
  packages/storybook/src/web-components/login-link/login-link.stories.tsx
  packages/storybook/src/web-components/login-link/tokens.json
  packages/storybook/src/web-components/login-link/visual/Agents.tsx
  packages/storybook/src/web-components/login-link/visual/States.tsx
  packages/web-components-stencil/src/components/button-login/button-login.scss
  packages/web-components-stencil/src/components/button-login/types.ts
  packages/web-components-stencil/src/components/login-link/README.md
  packages/web-components-stencil/src/components/login-link/constants.ts
  packages/web-components-stencil/src/components/login-link/login-link.scss
  packages/web-components-stencil/src/components/login-link/login-link.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/a11y.spec.tsx
  packages/web-components-stencil/src/components/login-link/test/unit/login-link.spec.tsx
  packages/web-components-stencil/src/components/login-link/types.ts
  packages/web-components-stencil/src/utils/test/element.spec.ts
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/login link.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(components-react): create Heading component (#278)
  .changeset/fair-tigers-eat.md
  packages/components-react/package.json
  packages/components-react/src/heading/Heading.tsx
  packages/components-react/src/heading/test/Heading.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/heading/heading.mdx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

EVA naam en kleur aanpassen (#244)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): Utrecht Page footer tokens toegevoegd
  .changeset/afraid-papayas-act.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-column-layout.json
  proprietary/design-tokens/src/imported/nl/utrecht-link-list.json
  proprietary/design-tokens/src/imported/nl/utrecht-page-footer.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Create new_component_template.md (#245)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

chore: cleanup and complete changesets (#273)
  .changeset/cuddly-shrimps-repair.md
  .changeset/stale-worms-glow.md
  .changeset/swift-planets-think.md
Due: markdownlint, prettier --check

feat(design tokens): Section component tokens toevoegen (#287)
  .changeset/sour-toys-appear.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/section.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): add Radio group tokens
  .changeset/fifty-lizards-promise.md
  .changeset/fresh-pugs-listen.md
  .changeset/modern-bags-reflect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/component/radio-group.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-radio-button.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(github): Update new component template (#305)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

React components/button (#304)
  .changeset/fair-tigers-eat.md
  .changeset/tiny-hairs-enjoy.md
  packages/components-react/package.json
  packages/components-react/rollup.config.mjs
  packages/components-react/src/button/Button.css
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/test/Button.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/heading/heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Fieldset tokens toevoegen (#300)
  .changeset/soft-peaches-collect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-fieldset.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: create PR template (#275)
  .github/pull_request_template.md
Due: markdownlint, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
