Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(components): supply lux wrapper component
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/documentation/developer/community-component-aanleveren.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): add slots section
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
Due: markdownlint, prettier --check

refactor(components): improve button docs reability
  packages/storybook/src/web-components/button/button.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): finish first draft
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
Due: markdownlint, prettier --check

docs(components): fix typo
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
Due: markdownlint, prettier --check

feat(design-tokens): update utrecht alert tokens (#189)
  packages/storybook/src/web-components/button/button.mdx
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@7be76c8b923a2a93324f74b0954267f23c32dd8e 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

TS/ to ts/ (#193)
  packages/storybook/.stylelintrc.json
  packages/storybook/package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/button-login/button-login.mdx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/button/tokens.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/global/app.ts
  packages/web-components-stencil/src/icons/chevron-left.tsx
  packages/web-components-stencil/src/icons/chevron-right.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/utils/helpers/attrBoolean.ts
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-focus.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/nl/utrecht-paragraph.json
  proprietary/design-tokens/src/imported/viewport/xs.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(design-tokens): nieuwe indeling core common (#191)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/core/border.json
  proprietary/design-tokens/src/imported/core/color.json
  proprietary/design-tokens/src/imported/core/font.json
  proprietary/design-tokens/src/imported/core/other.json
  proprietary/design-tokens/src/imported/core/spacing.json
  proprietary/design-tokens/src/imported/viewport/lg.json
  proprietary/design-tokens/src/imported/viewport/md.json
  proprietary/design-tokens/src/imported/viewport/sm.json
  proprietary/design-tokens/src/imported/viewport/xl.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@5d595e5514f8518940938896d5ed8337efe4707a 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): fix MDX issue
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(components): comment section on why we need component wrappers
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
Due: markdownlint, prettier --check

ci: replace lerna with pnpm and changesets (#141)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  .npmpackagejsonlintrc.json
  lerna.json
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  pnpm-lock.yaml
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@a6837ab5569cca1a5ad4f6e51b901124fc3be695 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

utrecht.link.column-gap token toegevoegd lux tokens toegevoegd om voor focus stijl
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): better wording
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
Due: markdownlint, prettier --check

feat(design-tokens): update link tokens (#190)
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(components): supply lux wrapper component (#192)
  packages/storybook/src/documentation/developer/community-component-aanleveren.md
  packages/storybook/src/documentation/developer/community-component-aanleveren.mdx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button/button.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(components): create new link component
  packages/web-components-stencil/src/components/link/link.scss
  packages/web-components-stencil/src/components/link/link.tsx
  packages/web-components-stencil/src/components/link/test/link.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: apply prettier
  .github/workflows/continuous-deployment.yml
Due: none

docs(components): basic link component documentation
  package.json
  packages/storybook/package.json
  packages/storybook/src/web-components/link/link.mdx
  packages/storybook/src/web-components/link/link.stories.tsx
  packages/storybook/src/web-components/link/tokens.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: create changeset for first release
  .changeset/cuddly-shrimps-repair.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: order lists alphabetically
  .changeset/cuddly-shrimps-repair.md
Due: markdownlint, prettier --check

docs(components): add link design tokens
  packages/storybook/src/web-components/link/tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Wrap Utrecht Alert
  packages/storybook/src/web-components/alert/alert.mdx
  packages/storybook/src/web-components/alert/alert.stories.tsx
  packages/storybook/src/web-components/paragraph/paragraph.mdx
  packages/storybook/src/web-components/paragraph/paragraph.stories.tsx
  packages/web-components-stencil/src/components/alert/alert.scss
  packages/web-components-stencil/src/components/alert/alert.tsx
  packages/web-components-stencil/src/components/alert/test/alert.spec.tsx
  packages/web-components-stencil/src/components/paragraph/paragraph.scss
  packages/web-components-stencil/src/components/paragraph/paragraph.tsx
  packages/web-components-stencil/src/components/paragraph/test/paragraph.spec.tsx
  packages/web-components-stencil/src/icons/error.tsx
  packages/web-components-stencil/src/icons/icon.css
  packages/web-components-stencil/src/icons/info.tsx
  packages/web-components-stencil/src/icons/mail.tsx
  packages/web-components-stencil/src/icons/success.tsx
  packages/web-components-stencil/src/icons/warning.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

WIP: Paragraph renders P, Stories for components, tokens added, tests added
  packages/storybook/package.json
  packages/storybook/src/web-components/alert/alert.mdx
  packages/storybook/src/web-components/alert/alert.stories.tsx
  packages/storybook/src/web-components/alert/tokens.json
  packages/storybook/src/web-components/paragraph/paragraph.mdx
  packages/storybook/src/web-components/paragraph/paragraph.stories.tsx
  packages/storybook/src/web-components/paragraph/tokens.json
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/alert/alert.tsx
  packages/web-components-stencil/src/components/alert/test/alert.spec.tsx
  packages/web-components-stencil/src/components/paragraph/paragraph.scss
  packages/web-components-stencil/src/components/paragraph/paragraph.tsx
  packages/web-components-stencil/src/components/paragraph/test/paragraph.spec.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: create changeset for first release (#194)
  .changeset/cuddly-shrimps-repair.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@e39de1f90a0b3a285a3351fb0a64a0aa3489097e 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: new laptop backup
  packages/storybook/src/web-components/link/link.stories.tsx
  packages/storybook/src/web-components/link/visual/States.tsx
  packages/web-components-stencil/src/components/link/link.scss
  packages/web-components-stencil/src/components/link/link.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Visual stories, bettter dark visual bg, improved docs include
  .github/workflows/continuous-deployment.yml
  package.json
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/IncludeDocumentation.tsx
  packages/storybook/src/utils/createVisualRegressionStory.tsx
  packages/storybook/src/web-components/alert/alert.mdx
  packages/storybook/src/web-components/alert/alert.stories.tsx
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/paragraph/paragraph.mdx
  packages/storybook/src/web-components/paragraph/paragraph.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

added changeset to this feature
  .changeset/swift-planets-think.md
Due: markdownlint, prettier --check

Fix for paragraphs in alerts
  packages/web-components-stencil/src/components/alert/alert.scss
Due: prettier --fix, stylelint --allow-empty-input

lux en utrecht heading tokens toegevoegd. & lux-paragarph tokens
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/heading.json
  proprietary/design-tokens/src/imported/component/paragraph.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
