Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Fixed outline offset
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Bwb/tokens update (#670)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changed description margins
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added suffix component
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added preview component
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Widen search criteria form
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changed preview min and max height
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Refactored preview to be usable for XML previews with type preview
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

build: restore pnpm pack/pnpm publish behavior to pre-pnpm@11.13 behavior
  .npmignore
Due: none

Updated backdrop tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Removed some preview tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changed description margins (#671)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade to changesets v3 (and changesets/action@v2)
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade to changesets v3 (and changesets/action@v2) (#674)
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/poor-lizards-help.md
  .changeset/wise-carrots-cross.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Updated tab tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Updated tab tokens (#675)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(changeset): Add changeset for token updates
  .changeset/olive-pillows-turn.md
Due: markdownlint, prettier --check

feat(changeset): Convert major to patch in changeset
  .changeset/olive-pillows-turn.md
Due: markdownlint, prettier --check

feat(changeset): Add changeset for token updates (#676)
  .changeset/olive-pillows-turn.md
Due: markdownlint, prettier --check

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/olive-pillows-turn.md
  .changeset/poor-lizards-help.md
  .changeset/wise-carrots-cross.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: add changeset check to pipeline
  .github/workflows/continuous-deployment.yml
Due: none

chore: use yaml workflow from more recent main
  .github/workflows/continuous-deployment.yml
Due: none

chore: reapply changes
  .github/workflows/continuous-deployment.yml
Due: none

Added input date & year tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added styling fixes for select, radio, text, textarea
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: build
  packages/components-react/package.json
  packages/lux-community-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: build (#680)
  packages/components-react/package.json
  packages/lux-community-components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Added input date & year tokens (#678)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added Dialog tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
