Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: added utrecht to stylelint regex
  .lux.stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Part of the design review improvements
  packages/components-react/package.json
  packages/storybook/src/react-components/select/select.mdx
  packages/storybook/src/react-components/select/select.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

revert utrecht update
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: changed icon type in stories to boolean
  packages/components-react/src/link/Link.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

removed div around checkbox component
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Alert design review improvements
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Only "Button"
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix lint and storybook issues
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/mean-books-sleep.md
Due: markdownlint, prettier --check

fix: edit tests to match functionality of component
  packages/components-react/src/link/test/Link.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: edit tests according to changes in component
  packages/components-react/src/checkbox/test/Checkbox.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added Checkbox component (#336)
  .changeset/rude-fishes-give.md
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/checkbox/test/Checkbox.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: export link component in index
  packages/components-react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(docs): Fixes Design review button en Visual regression (#337)
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/button/visual/States.tsx
  packages/storybook/src/react-components/button/visual/Variants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added link component (#321)
  .changeset/weak-weeks-rush.md
  .lux.stylelintrc.json
  packages/components-react/src/index.ts
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/components-react/src/link/test/Link.spec.tsx
  packages/storybook/src/react-components/link/link.mdx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat: added RadioButton and RadioGroup components. (#328)
  .changeset/mean-books-sleep.md
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.css
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-radio-group/test/FormFieldRadioGroup.spec.tsx
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.css
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-option/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/test/RadioButton.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.mdx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.mdx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

alert icons added
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

remove align items from section
  packages/components-react/src/section/Section.css
Due: prettier --fix, stylelint --allow-empty-input

WIP: added FormField Checkbox
  packages/components-react/package.json
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

WIP: FormField Checkbox update
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
Due: prettier --fix, stylelint --allow-empty-input

alert icons added (#339)
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

remove align items from section (#340)
  packages/components-react/src/section/Section.css
Due: prettier --fix, stylelint --allow-empty-input

Added lux tokens via css, added form field select
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/form-field-select/test/form-field-select.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.css
  packages/components-react/src/select/Select.tsx
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/select/select.mdx
  packages/storybook/src/react-components/select/select.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

WIP: FormField Checkbox update, click targets
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: change svg path properties
  packages/components-react/src/alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Cleanup and checkbox alignment
  packages/components-react/package.json
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Docs update
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/purple-pumpkins-joke.md
Due: markdownlint, prettier --check

fixed build
  packages/components-react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fixed build 2
  packages/components-react/src/select/Select.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

React components/select (#329)
  .changeset/clean-lizards-admire.md
  packages/components-react/src/form-field-select/FormFieldSelect.tsx
  packages/components-react/src/form-field-select/test/form-field-select.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/select/Select.css
  packages/components-react/src/select/Select.tsx
  packages/components-react/src/select/test/Select.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-select/form-field-select.mdx
  packages/storybook/src/react-components/form-field-select/form-field-select.stories.tsx
  packages/storybook/src/react-components/select/select.mdx
  packages/storybook/src/react-components/select/select.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(react): Added FormField Checkbox (#341)
  .changeset/purple-pumpkins-joke.md
  packages/components-react/package.json
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.scss
  packages/components-react/src/form-field-checkbox/FormFieldCheckbox.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.mdx
  packages/storybook/src/react-components/form-field-checkbox/form-field-checkbox.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
