Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Upgraded Utrecht packages; First setup of Readme
  packages/components-react/README.md
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

xs icon inset start block goed gezet
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix install sections in Readme
  packages/components-react/README.md
  proprietary/design-tokens/README.md
  proprietary/font/README.md
Due: markdownlint, prettier --check

Update SEMVER.md
  SEMVER.md
Due: markdownlint, prettier --check

update
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field-error-message.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field-error-message.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: cleanup and complete changesets
  .changeset/cuddly-shrimps-repair.md
  .changeset/stale-worms-glow.md
  .changeset/swift-planets-think.md
Due: markdownlint, prettier --check

update
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-field.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: cleanup and complete changesets (#273)
  .changeset/cuddly-shrimps-repair.md
  .changeset/stale-worms-glow.md
  .changeset/swift-planets-think.md
Due: markdownlint, prettier --check

chore: remove alpha version tags
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove alpha version tags (#274)
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/cuddly-shrimps-repair.md
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Apply suggestions from code review
  packages/web-components-react/CHANGELOG.md
  packages/web-components-stencil/CHANGELOG.md
  proprietary/design-tokens/CHANGELOG.md
  proprietary/font/CHANGELOG.md
Due: markdownlint, prettier --check

docs(release): design system packages (#197)
  .changeset/cuddly-shrimps-repair.md
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: create PR template
  .github/pull_request_template.md
Due: markdownlint, prettier --check

chore: create PR template (#275)
  .github/pull_request_template.md
Due: markdownlint, prettier --check

chore(docs): Update semver docs with canary releases (#271)
  SEMVER.md
Due: markdownlint, prettier --check

chore(components): Utrecht React components toevoegen (#266)
  packages/components-react/README.md
  packages/components-react/package.json
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/package.json
  pnpm-lock.yaml
  proprietary/design-tokens/README.md
  proprietary/font/README.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Document en Paragraph toegevoegd; builds gefixt
  packages/components-react/package.json
  packages/components-react/src/document/Document.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/components-react/vite.config.ts
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/component/form/form-field-label-ander-voorstel.json
  proprietary/design-tokens/src/imported/component/form/form-field-option-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-label.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/form/form-field-checkbox-option.json
  proprietary/design-tokens/src/imported/component/form/form-field-label.json
  proprietary/design-tokens/src/imported/component/form/form-field-radio-option.json
  proprietary/design-tokens/src/imported/component/form/option-checkbox.json
  proprietary/design-tokens/src/imported/component/form/option-radio.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-description.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/checkbox.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/radio-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-pointer-target.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update $themes.json
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

lux small tokens toegevoegd & utrecht font-sizes voor secondary en subtle
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Heading component
  packages/components-react/package.json
  packages/components-react/src/heading/Heading.test.tsx
  packages/components-react/src/heading/Heading.tsx
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
  packages/storybook/package.json
  packages/storybook/src/components-react/heading/Heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Fix heading 6 story
  packages/storybook/src/components-react/heading/Heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/modern-bags-reflect.md
Due: markdownlint, prettier --check

feat(design tokens): Form tokens toevoegen (#200)
  .changeset/modern-bags-reflect.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-document.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-description.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field-error-message.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-field.json
  proprietary/design-tokens/src/imported/nl/utrecht-form-label.json
  proprietary/design-tokens/src/imported/nl/utrecht-pointer-target.json
  proprietary/design-tokens/src/imported/nl/utrecht-text-input.json
  proprietary/design-tokens/src/imported/nl/utrecht-textarea.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore(design tokens): spaties nldoc line-height fixen (#272)
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Changeset added
  .changeset/fifty-lizards-promise.md
Due: markdownlint, prettier --check

Updated Utrecht packages
  packages/components-react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Added `appearance` because Utrecht changes are not on the radar yet.
  packages/components-react/src/paragraph/Paragraph.tsx
  packages/storybook/src/react-components/paragraph/paragraph.mdx
  packages/storybook/src/react-components/paragraph/paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
