Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Logius blauw toegevoegd voor Lynn
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert/closable/false.json
  proprietary/design-tokens/src/imported/component/alert/closable/true.json
  proprietary/design-tokens/src/imported/component/alert/default.json
  proprietary/design-tokens/src/imported/component/alert/variant/error.json
  proprietary/design-tokens/src/imported/component/alert/variant/info.json
  proprietary/design-tokens/src/imported/component/alert/variant/success.json
  proprietary/design-tokens/src/imported/component/alert/variant/warning.json
  proprietary/design-tokens/src/imported/component/button-login/default.json
  proprietary/design-tokens/src/imported/component/button/default.json
  proprietary/design-tokens/src/imported/component/button/icon/end.json
  proprietary/design-tokens/src/imported/component/button/icon/none.json
  proprietary/design-tokens/src/imported/component/button/icon/start.json
  proprietary/design-tokens/src/imported/component/button/variant/primary.json
  proprietary/design-tokens/src/imported/component/button/variant/secondary.json
  proprietary/design-tokens/src/imported/component/button/variant/tertairy.json
  proprietary/design-tokens/src/imported/component/link/default.json
  proprietary/design-tokens/src/imported/mode/dark (beta).json
  proprietary/design-tokens/src/imported/product/NLdoc - Ridderkerk.json
  proprietary/design-tokens/src/imported/product/NLdoc - Rijksoverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc - WHD.json
  proprietary/design-tokens/src/imported/product/NLdoc - default.json
  proprietary/design-tokens/src/imported/viewport (beta)/lg.json
  proprietary/design-tokens/src/imported/viewport (beta)/md.json
  proprietary/design-tokens/src/imported/viewport (beta)/sm.json
  proprietary/design-tokens/src/imported/viewport (beta)/xl.json
  proprietary/design-tokens/src/imported/viewport (beta)/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Target size update in Figma.
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

delete target size in common set
  proprietary/design-tokens/src/imported/common/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Homepage en Issue urls toegevoegd.
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

update link met Figma
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

test for workflow release
  .github/workflows/continuous-deployment.yml
Due: none

target sizes geupdate
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: context switch backup
  proprietary/design-tokens/build-tokens.mjs
Due: none

push
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/component/button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: betere comments in code voorbeeld
  packages/storybook/src/documentation/design-tokens/lagen.md
Due: markdownlint, prettier --check

test for workflow release 2
  .github/workflows/continuous-deployment.yml
Due: none

test for workflow release 3
  .github/workflows/continuous-deployment.yml
Due: none

test for workflow release 4
  .github/workflows/continuous-deployment.yml
Due: none

test for workflow release revert
  .github/workflows/continuous-deployment.yml
Due: none

docs(design-tokens): move layers page to design tokens page
  packages/storybook/src/design-tokens/lagen.mdx
  packages/storybook/src/documentation/design-tokens/design-tokens.md
  packages/storybook/src/documentation/design-tokens/lagen.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): describe design tokens (#76)
  packages/storybook/src/design-tokens/community-components.mdx
  packages/storybook/src/design-tokens/design-tokens.mdx
  packages/storybook/src/documentation/design-tokens/community-components.md
  packages/storybook/src/documentation/design-tokens/design-tokens.md
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@101b5c0324326eeb253477a83dc3252ef6e7dbbf 🚀
  assets/Color-PRSJMWNM-BWjhRvYY.js
  assets/Color-PRSJMWNM-D46AX8C6.js
  assets/DocsRenderer-K4EAMTCU-Byg-_RJy.js
  assets/DocsRenderer-K4EAMTCU-DQPPNXgL.js
  assets/WithTooltip-KJL26V4Q-6gZj3RBA.js
  assets/WithTooltip-KJL26V4Q-D8PzgJsl.js
  assets/button-login-themes-C_wcXDCk.js
  assets/button-login-tp9w39tH.js
  assets/community-components-DeP3-ZD8.js
  assets/design-tokens-DIQU7T9R.js
  assets/formatter-2WMMO6ZP-MK46GG0d.js
  assets/iframe-B6CQmg_y.js
  assets/iframe-EcQle5KO.js
  assets/index-BAZ7Lg1O.js
  assets/inlogstraat-CO0wrpMK.js
  assets/introduction-CRN1UHEG.js
  assets/license-DbNF9ROq.js
  assets/lux-button-login.entry-DAXxHxdx.js
  assets/lux-button-login.entry-DGfUi1NV.js
  assets/lux-icon-logo-digid_3.entry-0_aNsddV.js
  assets/lux-icon-logo-digid_3.entry-DONzNGsm.js
  assets/notice-DZtQur8X.js
  assets/preview-4KFBvdC4.js
  assets/preview-BmzUic1H.js
  assets/preview-Cb5CuzmH.js
  assets/preview-CwwCjYB5.js
  assets/preview-DX8pVW3O.js
  assets/preview-F_glhgN8.js
  assets/syntaxhighlighter-BP7B2CQK-C2uXWBIy.js
  assets/syntaxhighlighter-BP7B2CQK-C9ovMUR8.js
  assets/testid-c9fa077d-2ZgthVnw.js
  assets/testid-c9fa077d-CQTrD_5u.js
  assets/versioning-QwjDAAx0.js
  iframe.html
  index.json
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix(design-tokens): rename 'original' to 'default'
  proprietary/design-tokens/src/imported/viewport (beta)/lg.json
  proprietary/design-tokens/src/imported/viewport (beta)/md.json
  proprietary/design-tokens/src/imported/viewport (beta)/sm.json
  proprietary/design-tokens/src/imported/viewport (beta)/xl.json
  proprietary/design-tokens/src/imported/viewport (beta)/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(storybook): create reuseable component design token story
  packages/storybook/package.json
  packages/storybook/src/filetypes.d.ts
  packages/storybook/src/utils/createDesignTokensStory.tsx
  packages/storybook/src/utils/index.ts
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/tokens.json
  pnpm-lock.yaml
  proprietary/design-tokens/build-tokens.mjs
  proprietary/design-tokens/json-list-formatter.mjs
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

documentation tokens opgelost
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/product/Logius.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

build: specify `repository.directory` in each package.json
  package.json
  packages/components-css/package.json
  packages/components-react/package.json
  packages/storybook/package.json
  packages/web-components-react/package.json
  packages/web-components-stencil/package.json
  proprietary/assets/package.json
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

ci: require `repository.directory` in each package.json
  .npmpackagejsonlintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: replace lerna with pnpm and changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/continuous-deployment.yml
  lerna.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Thema en tokens aagnemaakt voor de langues switch
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/component/alert/closable/false.json
  proprietary/design-tokens/src/imported/component/alert/closable/true.json
  proprietary/design-tokens/src/imported/component/alert/default.json
  proprietary/design-tokens/src/imported/component/alert/variant/error.json
  proprietary/design-tokens/src/imported/component/alert/variant/info.json
  proprietary/design-tokens/src/imported/component/alert/variant/success.json
  proprietary/design-tokens/src/imported/component/alert/variant/warning.json
  proprietary/design-tokens/src/imported/component/button-login/default.json
  proprietary/design-tokens/src/imported/component/button/default.json
  proprietary/design-tokens/src/imported/component/button/icon/end.json
  proprietary/design-tokens/src/imported/component/button/icon/none.json
  proprietary/design-tokens/src/imported/component/button/icon/start.json
  proprietary/design-tokens/src/imported/component/button/variant/primary.json
  proprietary/design-tokens/src/imported/component/button/variant/secondary.json
  proprietary/design-tokens/src/imported/component/button/variant/tertairy.json
  proprietary/design-tokens/src/imported/component/link/default.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/language/en.json
  proprietary/design-tokens/src/imported/language/nl.json
  proprietary/design-tokens/src/imported/mode/dark (beta).json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc - Ridderkerk.json
  proprietary/design-tokens/src/imported/product/NLdoc - Rijksoverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc - WHD.json
  proprietary/design-tokens/src/imported/product/NLdoc - default.json
  proprietary/design-tokens/src/imported/viewport (beta)/lg.json
  proprietary/design-tokens/src/imported/viewport (beta)/md.json
  proprietary/design-tokens/src/imported/viewport (beta)/sm.json
  proprietary/design-tokens/src/imported/viewport (beta)/xl.json
  proprietary/design-tokens/src/imported/viewport (beta)/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

tokens toegevoegd zoals gevraagd met alias naar de langues switch jsons
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/button-login/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(storybook): enable JSON module resolution
  packages/storybook/src/markdown.d.ts
  packages/storybook/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(storybook): automate component design tokens (#140)
  packages/storybook/package.json
  packages/storybook/src/utils/createDesignTokensStory.tsx
  packages/storybook/src/utils/index.ts
  packages/storybook/src/web-components/button-login/button-login.stories.tsx
  packages/storybook/src/web-components/button-login/tokens.json
  packages/storybook/tsconfig.json
  pnpm-lock.yaml
  proprietary/design-tokens/build-tokens.mjs
  proprietary/design-tokens/json-list-formatter.mjs
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/imported/viewport (beta)/lg.json
  proprietary/design-tokens/src/imported/viewport (beta)/md.json
  proprietary/design-tokens/src/imported/viewport (beta)/sm.json
  proprietary/design-tokens/src/imported/viewport (beta)/xl.json
  proprietary/design-tokens/src/imported/viewport (beta)/xs.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: New way of building tokens
  .gitignore
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/build/run-build.mjs
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/manual/missingTokens.dark.json
  proprietary/design-tokens/src/manual/missingTokens.json
  proprietary/design-tokens/src/manual/missingTokens.light.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Rework after merge
  proprietary/design-tokens/build-tokens.mjs
  proprietary/design-tokens/build/add-media-dependent-files.mjs
  proprietary/design-tokens/build/build-tokens.mjs
  proprietary/design-tokens/build/constants.mjs
  proprietary/design-tokens/build/json-list-formatter.mjs
  proprietary/design-tokens/build/run-build.mjs
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Run build from new build scripts
  proprietary/design-tokens/build-tokens.mjs
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Missing references, temp fix, possible visual regression
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

button-login.border-style toegevoegd plus de lux.colors voor de icon-logo
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/icon-logo.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push, volgens mij geen wijzigingen maar er staat een puntje
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Aline Nap: > 48px gewoon, de raw waarde (edited)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/icon-logo.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/mode/dark.json
  proprietary/design-tokens/src/imported/mode/light.json
  proprietary/design-tokens/src/imported/nl/utrecht-alert.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/Logius.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Added `imported` folders to .prettierignore because TokenStudio removes last newlines
  .prettierignore
Due: none

Fixes in storybook and css
  packages/storybook/config/preview.tsx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/web-components/button-login/button-login.mdx
  packages/web-components-stencil/src/components/button-login/button-login.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input
