Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Added Dialog tokens
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

build(changeset): Add changeset for bwb token updates and overrides
  .changeset/hip-roses-throw.md
Due: markdownlint, prettier --check

Bwb/token fixes (#682)
  .changeset/hip-roses-throw.md
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: improve CODEOWNERS so that logius committers can once again approve their own community PRs
  .github/CODEOWNERS
Due: none

ci: disable autoformatting of changelogs
  .changeset/config.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: upgrade pnpm to 11.28.4
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: override proxy-addr to resolve [GHSA-jqcg-44mw-7w3h](https://github.com/advisories/GHSA-jqcg-44mw-7w3h)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: improve CODEOWNERS so that logius committers can once again ap… (#683)
  .github/CODEOWNERS
Due: none

chore: upgrade pnpm to 11.28.4 (#685)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: override proxy-addr to resolve GHSA-jqcg-44mw-7w3h (#686)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: upgrade shell-quote to resolve GHSA-pqg4-j6r4-53mv
  pnpm-lock.yaml
Due: none

ci: skip chromatic check properly for dependabot
  .github/workflows/continuous-deployment.yml
Due: none

ci: fix publish canary step
  .github/workflows/continuous-deployment.yml
Due: none

ci: fix publish canary running if there are no changesets
  .github/workflows/continuous-deployment.yml
Due: none

Renamed progress to Progress-steps
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

ci: refer to the correct output variable
  .github/workflows/continuous-deployment.yml
Due: none

Renamed progress to Progress-steps (#690)
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/hip-roses-throw.md
  .changeset/long-toys-cheer.md
  .changeset/olive-pillows-turn.md
  .changeset/poor-lizards-help.md
  .changeset/wise-carrots-cross.md
  packages/components-react/CHANGELOG.md
  packages/components-react/package.json
  packages/lux-community-components-react/CHANGELOG.md
  packages/lux-community-components-react/package.json
  packages/web-components-react/CHANGELOG.md
  packages/web-components-react/package.json
  packages/web-components-stencil/CHANGELOG.md
  packages/web-components-stencil/package.json
  proprietary/design-tokens/CHANGELOG.md
  proprietary/design-tokens/package.json
  proprietary/font/CHANGELOG.md
  proprietary/font/package.json
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
