Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

WIP: Readme updated
  proprietary/design-tokens/README.md
Due: markdownlint, prettier --check

docs(design-tokens): fix hemelblauw typo
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add core border
  packages/storybook/config/themes.ts
  packages/storybook/src/design-tokens/niveaus/DesignTokenBorderPreview.tsx
  packages/storybook/src/design-tokens/niveaus/core/border-tokens.mdx
  packages/storybook/src/styles/theme.css
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

refactor(storybook): rewrite 5-liner to maintainable 1-liner
  packages/storybook/src/utils/rgbaToHex.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add core font
  packages/storybook/src/design-tokens/niveaus/DesignTokenFontPreview.tsx
  packages/storybook/src/design-tokens/niveaus/core/font-tokens.mdx
  packages/storybook/src/utils/tokenToCssVar.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): move repeated function to utils
  packages/storybook/src/design-tokens/niveaus/DesignTokenBorderPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenColorPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenSpacingPreview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): export all utils from barrel file
  packages/storybook/src/design-tokens/niveaus/DesignTokenBorderPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/index.ts
  packages/storybook/src/utils/pxToRem.ts
  packages/storybook/src/utils/rgbaToHex.ts
  packages/storybook/src/utils/tokenToCssVar.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): export all utils from barrel file
  packages/storybook/src/design-tokens/niveaus/DesignTokenFontPreview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Eerst connect met git
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/global.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/global.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Digitoegankelijk thema toegevoegd
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Font package added so fonts can be included with our font-family names
  pnpm-lock.yaml
  proprietary/design-tokens/README.md
  proprietary/font/LICENSE.md
  proprietary/font/README.md
  proprietary/font/package.json
  proprietary/font/src/index.css
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(design-tokens): add common color tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenColorPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenOverview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenSpacingPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/color-tokens.mdx
  packages/storybook/src/styles/theme.css
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

refactor(storybook): use DesignTokenOverview component for overview pages
  packages/storybook/src/design-tokens/niveaus/core/border-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/font-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/spacing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): nieuw product digitoegankelijk
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@ec5d6e1d633a3ec46f7d1768919970be2ae86381 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  proprietary/design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@0e8e91560a38a9893aae81c9ee46a64db28d0a3a 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Serif toegevoegd, fix voor Storybook
  packages/storybook/config/preview.tsx
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/font/src/ROserifwebbold.eot
  proprietary/font/src/ROserifwebbold.ttf
  proprietary/font/src/ROserifwebbold.woff
  proprietary/font/src/ROserifwebitalic.eot
  proprietary/font/src/ROserifwebitalic.ttf
  proprietary/font/src/ROserifwebitalic.woff
  proprietary/font/src/ROserifwebregular.eot
  proprietary/font/src/ROserifwebregular.ttf
  proprietary/font/src/ROserifwebregular.woff
  proprietary/font/src/index.css
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Fix in Storybook
  packages/storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add common font tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenFontPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/font-tokens.mdx
  packages/storybook/src/styles/theme.css
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix(storybook): incorrect casing issue
  packages/storybook/src/design-tokens/niveaus/DesignTokenFontPreview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Gebruik en meer over fonts gedocumenteerd en gefixt.
  proprietary/design-tokens/README.md
  proprietary/design-tokens/package.json
  proprietary/font/README.md
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add common sizing tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenSizingPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/sizing-tokens.mdx
  packages/storybook/src/styles/theme.css
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

no css import modules, because @import
  proprietary/design-tokens/README.md
Due: markdownlint, prettier --check

docs(design-tokens): add common border tokens
  packages/storybook/src/design-tokens/niveaus/common/border-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update proprietary/design-tokens/README.md
  proprietary/design-tokens/README.md
Due: markdownlint, prettier --check

docs(design-tokens): add common focus tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenBorderPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/focus-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add common grid tokens
  packages/storybook/src/design-tokens/niveaus/DesignTokenSizingPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/grid-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add missing explaination
  packages/storybook/src/design-tokens/niveaus/common/focus-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): move tr to DesignTokenPreview components
  packages/storybook/src/design-tokens/niveaus/DesignTokenBorderPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenColorPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenFontPreview.tsx
  packages/storybook/src/design-tokens/niveaus/DesignTokenSpacingPreview.tsx
  packages/storybook/src/design-tokens/niveaus/common/border-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/color-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/font-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/border-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/font-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/spacing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): move DesignTokenPreview components to utils/components
  packages/storybook/src/design-tokens/niveaus/common/border-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/color-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/font-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/grid-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/common/sizing-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/border-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/color-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/font-tokens.mdx
  packages/storybook/src/design-tokens/niveaus/core/spacing-tokens.mdx
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenOverview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/components/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

refactor(storybook): move core & common tokens docs 1 level up
  packages/storybook/src/design-tokens/common/border-tokens.mdx
  packages/storybook/src/design-tokens/common/color-tokens.mdx
  packages/storybook/src/design-tokens/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/common/grid-tokens.mdx
  packages/storybook/src/design-tokens/common/sizing-tokens.mdx
  packages/storybook/src/design-tokens/core/border-tokens.mdx
  packages/storybook/src/design-tokens/core/color-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
  packages/storybook/src/design-tokens/core/spacing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Remove fonts from publishing
  pnpm-lock.yaml
  proprietary/font/README.md
  proprietary/font/package.json
  proprietary/font/src/index.css
  proprietary/font/src/index.scss
  proprietary/font/src/ro-font-face-mixin.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Fix regression storybook
  packages/storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

naamgeving spacingtokens aangepast
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Serif font family juiste naam
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

product-size-target van NLdoc - mapping veranderd naar lux. Waar is dit fout gegaan... ?
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

button-min-inline-size en button-min-block-size values aangepast + alles gelinkt met de figma UI kit file.
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

descriptions spacing verwijderd
  proprietary/design-tokens/src/imported/core/default.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix
