Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

typefout tertiary button aangepast
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(releases): NPM release van CSS tokens beschikbaar maken [Lux-273] (#150)
  pnpm-lock.yaml
  proprietary/design-tokens/README.md
  proprietary/design-tokens/package.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/font/LICENSE.md
  proprietary/font/README.md
  proprietary/font/package.json
  proprietary/font/src/ROserifwebbold.eot
  proprietary/font/src/ROserifwebbold.ttf
  proprietary/font/src/ROserifwebbold.woff
  proprietary/font/src/ROserifwebitalic.eot
  proprietary/font/src/ROserifwebitalic.ttf
  proprietary/font/src/ROserifwebitalic.woff
  proprietary/font/src/ROserifwebregular.eot
  proprietary/font/src/ROserifwebregular.ttf
  proprietary/font/src/ROserifwebregular.woff
  proprietary/font/src/index.scss
  proprietary/font/src/ro-font-face-mixin.scss
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

docs(release): design system packages
  proprietary/design-tokens/package.json
  proprietary/font/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@1b083a0bf6a9cf3a7c577df1159b161b46e17dc1 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(storybook): create stylelint selector-class-pattern
  packages/storybook/.stylelintrc.json
  packages/storybook/src/styles/theme.css
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

NPM publish failed: NODE_AUTH_TOKEN vs NPM_Token
  .github/workflows/continuous-deployment.yml
Due: none

why not both? (for line 212)
  .github/workflows/continuous-deployment.yml
Due: none

fix(storybook): linting issue
  packages/storybook/src/utils/components/DesignTokenOverview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): add core and common tokens (#148)
  packages/storybook/.stylelintrc.json
  packages/storybook/config/themes.ts
  packages/storybook/src/design-tokens/common/border-tokens.mdx
  packages/storybook/src/design-tokens/common/color-tokens.mdx
  packages/storybook/src/design-tokens/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/common/font-tokens.mdx
  packages/storybook/src/design-tokens/common/grid-tokens.mdx
  packages/storybook/src/design-tokens/common/sizing-tokens.mdx
  packages/storybook/src/design-tokens/core/border-tokens.mdx
  packages/storybook/src/design-tokens/core/color-tokens.mdx
  packages/storybook/src/design-tokens/core/font-tokens.mdx
  packages/storybook/src/design-tokens/core/spacing-tokens.mdx
  packages/storybook/src/styles/theme.css
  packages/storybook/src/utils/components/DesignTokenBorderPreview.tsx
  packages/storybook/src/utils/components/DesignTokenColorPreview.tsx
  packages/storybook/src/utils/components/DesignTokenFontPreview.tsx
  packages/storybook/src/utils/components/DesignTokenOverview.tsx
  packages/storybook/src/utils/components/DesignTokenSizingPreview.tsx
  packages/storybook/src/utils/components/DesignTokenSpacingPreview.tsx
  packages/storybook/src/utils/components/index.ts
  packages/storybook/src/utils/index.ts
  packages/storybook/src/utils/pxToRem.ts
  packages/storybook/src/utils/rgbaToHex.ts
  packages/storybook/src/utils/tokenToCssVar.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Deploying to gh-pages from @ nl-design-system/lux@88ebf8099854d856d0b96a307062be26e9ab9b1b 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat(design-tokens): change naming of spacing tokens (#152)
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/NLdoc/Ridderkerk.json
  proprietary/design-tokens/src/imported/NLdoc/Rijksoverheid.json
  proprietary/design-tokens/src/imported/NLdoc/Waterschap Hollandse Delta.json
  proprietary/design-tokens/src/imported/NLdoc/default.json
  proprietary/design-tokens/src/imported/common/default.json
  proprietary/design-tokens/src/imported/common/viewport/lg.json
  proprietary/design-tokens/src/imported/common/viewport/md.json
  proprietary/design-tokens/src/imported/common/viewport/sm.json
  proprietary/design-tokens/src/imported/common/viewport/xl.json
  proprietary/design-tokens/src/imported/common/viewport/xs.json
  proprietary/design-tokens/src/imported/component/alert.json
  proprietary/design-tokens/src/imported/component/button login.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/core/default.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
  proprietary/design-tokens/src/imported/product/DigiD.json
  proprietary/design-tokens/src/imported/product/Digitoegankelijk.json
  proprietary/design-tokens/src/imported/product/Elia.json
  proprietary/design-tokens/src/imported/product/Logius Blauw.json
  proprietary/design-tokens/src/imported/product/MijnOverheid.json
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@036ab209c47ab7b4547bfe944e48cf4a0df9f3ab 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore(pipeline): NODE_AUTH_TOKEN vs NPM_TOKEN (#160)
  .github/workflows/continuous-deployment.yml
Due: none

Deploying to gh-pages from @ nl-design-system/lux@b3ce3e63e497e6cf0a8d7a724ada35c9af7f3c70 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@1a5950b6037a218efc45436c6d110554e548e104 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@7ddeaf04adb2a15fd6dc1f564da82421988552cc 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@58d35f6e7ea6b05f3c1911caca65bf6f61ada850 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@3267e9d94fcf772eeade96b03e990bea1f7c20eb 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@a165a18502ea68565a90a742ccff7b83865f68d6 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@d00684a988a9113ee0c09c9dad60d488386be9ab 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Deploying to gh-pages from @ nl-design-system/lux@355bb837c559953a0c56d946df774a12b4eb3583 🚀
  project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Init wrap Utrecht components in Lux
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/button/button.scss
  packages/web-components-stencil/src/components/button/button.tsx
  packages/web-components-stencil/src/global/app.ts
  packages/web-components-stencil/stencil.config.ts
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

style(storybook): apply Logius theme to Storybook
  packages/storybook/config/logius-theme.ts
  packages/storybook/config/main.ts
  packages/storybook/config/manager-head.html
  packages/storybook/config/manager.ts
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): fix incorrect references for spacing tokens
  packages/storybook/src/design-tokens/core/spacing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): fix incorrect referencing in sizing and focus tokens
  packages/storybook/src/design-tokens/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/common/sizing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

docs(design-tokens): fix spacing tokens (#164)
  packages/storybook/src/design-tokens/common/focus-tokens.mdx
  packages/storybook/src/design-tokens/common/sizing-tokens.mdx
  packages/storybook/src/design-tokens/core/spacing-tokens.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
