Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

Fix TsLint
  packages/storybook/src/components-react/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

lint fixes
  packages/storybook/src/components-react/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

lint errors
  packages/components-react/src/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update dependencies
  pnpm-lock.yaml
Due: none

Alert updates
  packages/components-react/src/Alert.css
  packages/components-react/src/Alert.tsx
  packages/storybook/src/components-react/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

OnClose handler
  packages/components-react/src/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Undo add lux-design-system/components-react
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Update deps
  pnpm-lock.yaml
Due: none

Update deps
  packages/storybook/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Remove duplicate dep
  packages/storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

first version of the Alert (#227)
  packages/components-react/src/Alert.css
  packages/components-react/src/Alert.tsx
  packages/components-react/src/icons/CrossIcon.tsx
  packages/components-react/src/icons/ErrorIcon.tsx
  packages/components-react/src/icons/InfoIcon.tsx
  packages/components-react/src/icons/SuccessIcon.tsx
  packages/components-react/src/icons/WarningIcon.tsx
  packages/components-react/src/icons/index.ts
  packages/storybook/src/components-react/alert/alert.mdx
  packages/storybook/src/components-react/alert/alert.stories.tsx
  pnpm-lock.yaml
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Hackathon/button (#226)
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/button/button.scss
  packages/components-react/src/index.ts
  packages/storybook/src/components-react/button/button.stories.tsx
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/button.json
  proprietary/design-tokens/src/imported/nl/utrecht-button.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

publish build and version update
  packages/components-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Update Alert and added Heading
  packages/components-react/src/Alert.css
  packages/components-react/src/Alert.tsx
  packages/components-react/src/Heading.tsx
  packages/storybook/src/components-react/alert/alert.mdx
  packages/storybook/src/components-react/alert/alert.stories.tsx
  packages/storybook/src/components-react/heading/heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

publish src version update
  packages/components-react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

Blockquote
  packages/components-react/src/blockquote/Blockquote.tsx
  packages/storybook/src/components-react/blockquote/blockquote.stories.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-blockquote.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

blockquote tokens toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-blockquote.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

...
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

push
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update NOTICE.md
  NOTICE.md
Due: markdownlint, prettier --check

feat(docs): Readme en documentatie op orde maken (#222)
  NOTICE.md
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/src/assets/angular.png
  packages/storybook/src/assets/figma.png
  packages/storybook/src/assets/github.png
  packages/storybook/src/assets/javascript.png
  packages/storybook/src/assets/npm.png
  packages/storybook/src/assets/react.png
  packages/storybook/src/assets/slack.png
  packages/storybook/src/assets/storybook.png
  packages/storybook/src/assets/vue.png
  packages/storybook/src/documentation/developer/versioning.mdx
  packages/storybook/src/documentation/faq.md
  packages/storybook/src/documentation/introduction.md
  packages/storybook/src/documentation/introduction.mdx
  packages/storybook/src/documentation/introduction.nlds.md
  packages/storybook/src/documentation/license.mdx
  packages/storybook/src/documentation/notice.mdx
  packages/storybook/src/styles/theme.css
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore(release): NPM Publish prep (#224)
  packages/web-components-react/README.md
  packages/web-components-react/package.json
  packages/web-components-stencil/README.md
  packages/web-components-stencil/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

linter fixes
  packages/components-react/src/Alert.css
  packages/components-react/src/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

opties toegevoegd
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/component/form/form-field-checkbox-option.json
  proprietary/design-tokens/src/imported/component/form/form-field-radio-option.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/form-label.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

publish non-minified, version update
  packages/components-react/package.json
  packages/components-react/src/blockquote/Blockquote.tsx
  packages/components-react/src/index.ts
  packages/components-react/vite.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

nldoc font-sizes aangepast
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Login link focus tokens toevoegen
  proprietary/design-tokens/src/imported/component/login link.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

update
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/text-input.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

utrecht-document tokens toegevoegd, ontbraken in deze branch
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-document.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/nl/utrecht-form/text-input.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Kleur aangepast Naamgeving aangepast
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

..
  proprietary/design-tokens/src/imported/$themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Create new_component_template.md
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

H5 voor NLdoc
  proprietary/design-tokens/src/imported/product/NLdoc-mapping.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Create new_component_template.md (#245)
  .github/ISSUE_TEMPLATE/new_component_template.md
Due: markdownlint, prettier --check

EVA naam en kleur aanpassen (#244)
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/$themes.json
  proprietary/design-tokens/src/imported/product/EVA.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

(feat(components): new link component
  .changeset/stale-worms-glow.md
  packages/storybook/package.json
  packages/storybook/src/web-components/button/button.mdx
  packages/storybook/src/web-components/button/button.stories.tsx
  packages/storybook/src/web-components/document/document.stories.tsx
  packages/storybook/src/web-components/document/tokens.json
  packages/storybook/src/web-components/link/link.mdx
  packages/storybook/src/web-components/link/link.stories.tsx
  packages/storybook/src/web-components/link/tokens.json
  packages/storybook/src/web-components/link/visual/States.tsx
  packages/web-components-stencil/package.json
  packages/web-components-stencil/src/components/document/document.scss
  packages/web-components-stencil/src/components/document/document.tsx
  packages/web-components-stencil/src/components/document/test/document.spec.tsx
  packages/web-components-stencil/src/components/link/link.scss
  packages/web-components-stencil/src/components/link/link.tsx
  packages/web-components-stencil/src/components/link/test/link.spec.tsx
  pnpm-lock.yaml
  proprietary/design-tokens/src/imported/component/link.json
  proprietary/design-tokens/src/imported/nl/utrecht-link.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input
