Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.md": ["markdownlint", "prettier --check"],
  "*.{js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --fix"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --fix"]
}

chore: add changeset
  .changeset/long-toys-cheer.md
Due: markdownlint, prettier --check

feat: support themes in community design tokens package (#609)
  .changeset/long-toys-cheer.md
  .gitignore
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.spec.ts
  proprietary/lux-community-design-tokens/merged/figma.tokens.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

feat: allow logius-committer members to change community packages unchecked
  .github/CODEOWNERS
Due: none

fix: future-proof code owners notation for community packages
  .github/CODEOWNERS
Due: none

feat: allow logius-committer members to change community packages unchecked (#611)
  .github/CODEOWNERS
Due: none

feat: documentatie voor afnemers
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

fix: clean up doc
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

feat(000000): Add token in Figma json
  proprietary/lux-community-design-tokens/src/koop.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Update proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

fix: docs
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

feat: doc 4 users (#612)
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

chore: introduce contributing.md for community design tokens package
  proprietary/lux-community-design-tokens/CONTRIBUTING.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/wise-carrots-cross.md
Due: markdownlint, prettier --check

feat: merge and build from multiple token set files (WIP)
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: extract and reuse file name variable in build script
  proprietary/lux-community-design-tokens/build.mjs
Due: none

chore: add changeset
  .changeset/flat-lizards-search.md
Due: markdownlint, prettier --check

fix: code reuse and correctness of token build script (#618)
  .changeset/flat-lizards-search.md
  proprietary/lux-community-design-tokens/build.mjs
Due: markdownlint, prettier --check

feat: merge and build multiple token set files (WIP)
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
Due: none

feat: support multiple team token set files when merging
  .gitignore
  .lintstagedrc.json
  .prettierignore
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/bwb.themes.json
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.themes.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/src/voorbeeld.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --fix

chore: remove useless comment
  proprietary/lux-community-design-tokens/build.mjs
Due: none

fix: use theme id as folder name
  proprietary/lux-community-design-tokens/build.mjs
Due: none

fix: remove nonexistent function argument
  proprietary/lux-community-design-tokens/build.mjs
Due: none

feat: enable per-team token build
  .lintstagedrc.json
  .prettierignore
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merged/bwb/bwb-app.tokens.json
  proprietary/lux-community-design-tokens/merged/bwb/expert-user.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld/voorbeeld-thema-niet-gebruiken.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

chore: update readme
  proprietary/lux-community-design-tokens/readme.md
Due: markdownlint, prettier --check

chore: add wildcard pattern for community packages
  .github/CODEOWNERS
Due: none

fix: codeowner pattern matched only dirs
  .github/CODEOWNERS
Due: none

chore: assign individual accounts as code owners
  .github/CODEOWNERS
Due: none

chore: protect codeowners file itself
  .github/CODEOWNERS
Due: none

feat: merge and build from multiple token set files (#619)
  .gitignore
  .prettierignore
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/bwb.themes.json
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/bwb/bwb-app.tokens.json
  proprietary/lux-community-design-tokens/merged/bwb/expert-user.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.themes.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld/voorbeeld-thema-niet-gebruiken.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
  proprietary/lux-community-design-tokens/src/voorbeeld.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: reduce immense amount of bytes used for working example token set
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merged/voorbeeld.themes.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld/voorbeeld-thema-niet-gebruiken.tokens.json
  proprietary/lux-community-design-tokens/src/voorbeeld.figma.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: remove some generated files from git
  proprietary/lux-community-design-tokens/merged/bwb/bwb-app.tokens.json
  proprietary/lux-community-design-tokens/merged/bwb/expert-user.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld/voorbeeld-thema-niet-gebruiken.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: ignore some generated files (that do not need exposure) forever
  .gitignore
Due: none

fix: adjust changeset file accordingly
  .changeset/wise-carrots-cross.md
Due: markdownlint, prettier --check

fix: remove transient files from repo
  proprietary/lux-community-design-tokens/merged/bwb.themes.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.themes.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: ignore transient files from now on
  .gitignore
Due: none

chore: improve comments
  proprietary/lux-community-design-tokens/build.mjs
Due: none

ci: opt in to pnpm v11 for pnpm audit with an environment variable
  .github/workflows/continuous-deployment.yml
Due: none

feat: enable per-team token sets and themes for lux-community-design-tokens (#617)
  .changeset/wise-carrots-cross.md
  .gitignore
  .prettierignore
  pnpm-lock.yaml
  proprietary/lux-community-design-tokens/CONTRIBUTING.md
  proprietary/lux-community-design-tokens/build.mjs
  proprietary/lux-community-design-tokens/merge-token-sets.mjs
  proprietary/lux-community-design-tokens/merged/bwb.tokens.json
  proprietary/lux-community-design-tokens/merged/voorbeeld.tokens.json
  proprietary/lux-community-design-tokens/package.json
  proprietary/lux-community-design-tokens/readme.md
  proprietary/lux-community-design-tokens/src/bwb.figma.tokens.json
  proprietary/lux-community-design-tokens/src/voorbeeld.figma.tokens.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

docs(release): design system packages
  .changeset/flat-lizards-search.md
  .changeset/long-toys-cheer.md
  .changeset/wise-carrots-cross.md
  proprietary/lux-community-design-tokens/CHANGELOG.md
  proprietary/lux-community-design-tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix
