Repository nl-design-system/lux: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(components-react): create Section component
  .changeset/light-beans-warn.md
  packages/components-react/src/button/test/Button.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/section/Section.css
  packages/components-react/src/section/Section.tsx
  packages/components-react/src/section/test/Section.spec.tsx
  packages/storybook/src/react-components/section/section.mdx
  packages/storybook/src/react-components/section/section.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: add changeset
  .changeset/clean-lizards-admire.md
Due: markdownlint, prettier --check

refactor: add white lines around headings
  packages/storybook/src/react-components/select/select.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

Fix PR comments
  .lux.stylelintrc.json
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/components-react/src/alert/test/Alert.spec.tsx
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

chore: update changesets to reflect semver reality
  .changeset/fair-tigers-eat.md
  .changeset/khaki-camels-cheer.md
  .changeset/loud-cameras-shake.md
  .changeset/perfect-zoos-dance.md
  .changeset/stale-impalas-notice.md
  .changeset/tiny-hairs-enjoy.md
Due: markdownlint, prettier --check

chore: add changeset
  .changeset/hungry-books-hug.md
Due: markdownlint, prettier --check

feat(components-react): create Alert component
  .changeset/hungry-books-hug.md
  .lux.stylelintrc.json
  packages/components-react/src/alert/Alert.css
  packages/components-react/src/alert/Alert.tsx
  packages/components-react/src/alert/test/Alert.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/alert/alert.mdx
  packages/storybook/src/react-components/alert/alert.stories.tsx
  packages/storybook/src/react-components/button/button.mdx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

FormFieldTextbox with Lux components
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/textbox/Textbox.tsx
  packages/components-react/src/textbox/test/Textbox.spec.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

feat: added Checkbox component
  .changeset/rude-fishes-give.md
  packages/components-react/src/checkbox/Checkbox.css
  packages/components-react/src/checkbox/Checkbox.tsx
  packages/components-react/src/checkbox/test/Checkbox.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/package.json
  packages/storybook/src/react-components/checkbox/checkbox.mdx
  packages/storybook/src/react-components/checkbox/checkbox.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Update .changeset/mean-books-sleep.md
  .changeset/mean-books-sleep.md
Due: markdownlint, prettier --check

changeset added
  .changeset/good-windows-smash.md
Due: markdownlint, prettier --check

Heading stijling update
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

FormfieldTextbox tests added
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/form-field-textbox/test/form-field-textbox.spec.tsx
  packages/components-react/src/form-field/test/FormField.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

cleanup
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

review: feedback PR processed
  packages/components-react/src/radio-button/RadioButton.css
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/test/RadioButton.spec.tsx
  packages/components-react/src/radio-group/RadioGroup.css
  packages/components-react/src/radio-group/RadioGroup.tsx
  packages/components-react/src/radio-group/test/RadioGroup.spec.tsx
  packages/storybook/src/react-components/radio-button/radio-button.stories.tsx
  packages/storybook/src/react-components/radio-group/radio-group.mdx
  packages/storybook/src/react-components/radio-group/radio-group.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

PR feedback improvements
  packages/components-react/src/select/Select.tsx
  packages/storybook/src/react-components/select/select.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

review: processed PR feedback
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/components-react/src/link/test/Link.spec.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

feat(react): Added FormField, its subcomponents and FormFieldTextbox (#306)
  .changeset/nervous-eels-happen.md
  .changeset/rotten-eyes-poke.md
  .changeset/thick-cats-agree.md
  .changeset/violet-frogs-report.md
  packages/components-react/package.json
  packages/components-react/src/form-field-description/FormFieldDescription.tsx
  packages/components-react/src/form-field-description/test/FormFieldDescription.spec.tsx
  packages/components-react/src/form-field-error-message/FormFieldErrorMessage.tsx
  packages/components-react/src/form-field-error-message/test/FormFieldErrorMessage.spec.tsx
  packages/components-react/src/form-field-label/FormFieldLabel.tsx
  packages/components-react/src/form-field-label/test/FormFieldLabel.spec.tsx
  packages/components-react/src/form-field-textbox/FormFieldTextbox.tsx
  packages/components-react/src/form-field-textbox/test/form-field-textbox.spec.tsx
  packages/components-react/src/form-field/FormField.tsx
  packages/components-react/src/form-field/test/FormField.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/textbox/Textbox.tsx
  packages/components-react/src/textbox/test/Textbox.spec.tsx
  packages/storybook/config/main.ts
  packages/storybook/config/preview.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/form-field-description/form-field-description.mdx
  packages/storybook/src/react-components/form-field-description/form-field-description.stories.tsx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.mdx
  packages/storybook/src/react-components/form-field-error-message/form-field-error-message.stories.tsx
  packages/storybook/src/react-components/form-field-label/form-field-label.mdx
  packages/storybook/src/react-components/form-field-label/form-field-label.stories.tsx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.mdx
  packages/storybook/src/react-components/form-field-textbox/form-field-textbox.stories.tsx
  packages/storybook/src/react-components/form-field/form-field.mdx
  packages/storybook/src/react-components/form-field/form-field.stories.tsx
  packages/storybook/src/react-components/textbox/textbox.mdx
  packages/storybook/src/react-components/textbox/textbox.stories.tsx
  packages/storybook/src/utils/MarkdownDocumentation.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/beige-swans-glow.md
Due: markdownlint, prettier --check

React components/heading group (#320)
  .changeset/good-windows-smash.md
  packages/components-react/src/button/Button.tsx
  packages/components-react/src/heading-group/HeadingGroup.tsx
  packages/components-react/src/heading-group/test/HeadingGroup.spec.tsx
  packages/components-react/src/index.ts
  packages/components-react/src/pre-heading/PreHeading.tsx
  packages/components-react/src/pre-heading/test/PreHeading.spec.tsx
  packages/storybook/package.json
  packages/storybook/src/react-components/heading-group/heading-group.mdx
  packages/storybook/src/react-components/heading-group/heading-group.stories.tsx
  packages/storybook/src/react-components/pre-heading/pre-heading.mdx
  packages/storybook/src/react-components/pre-heading/pre-heading.stories.tsx
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

Action group tokens toevoegen (#327)
  .changeset/beige-swans-glow.md
  proprietary/design-tokens/src/imported/$metadata.json
  proprietary/design-tokens/src/imported/nl/utrecht-button-group.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

WIP: Better docs
  packages/storybook/src/react-components/button/button.mdx
  packages/storybook/src/react-components/button/button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

review: feedback PR
  packages/components-react/src/form-field-radio-button/FormFieldRadioOption.css
  packages/components-react/src/form-field-radio-button/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-button/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.css
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-radio-group/test/FormFieldRadioGroup.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.mdx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.mdx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: fixed broken tests
  packages/components-react/src/form-field-radio-group/test/FormFieldRadioGroup.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

changeset added
  .changeset/ten-avocados-agree.md
Due: markdownlint, prettier --check

(file)name changes, cleanup docs
  .changeset/mean-books-sleep.md
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.css
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-option/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/index.ts
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.mdx
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.mdx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Visual regression tests added
  packages/storybook/config/preview.tsx
  packages/storybook/config/themes.ts
  packages/storybook/src/react-components/button/button.stories.tsx
  packages/storybook/src/react-components/button/visual/States.tsx
  packages/storybook/src/react-components/button/visual/Variants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: renamed radio button to form-field-radio-option, added radio button
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-option/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/src/radio-button/test/RadioButton.spec.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

removed feature: text after external link
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/components-react/src/link/test/Link.spec.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Heading stijling update (#332)
  .changeset/ten-avocados-agree.md
  proprietary/design-tokens/src/imported/nl/utrecht-heading.json
Due: markdownlint, prettier --check, eslint --no-error-on-unmatched-pattern, prettier --fix

fix: solution to fix storybook error on launch
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

review: added description for radio option
  packages/components-react/src/form-field-radio-group/FormFieldRadioGroup.tsx
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.css
  packages/components-react/src/form-field-radio-option/FormFieldRadioOption.tsx
  packages/components-react/src/form-field-radio-option/test/FormFieldRadioOption.spec.tsx
  packages/components-react/src/radio-button/RadioButton.tsx
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
  packages/storybook/src/react-components/form-field-radio-group/form-field-radio-group.stories.tsx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.mdx
  packages/storybook/src/react-components/form-field-radio-option/form-field-radio-option.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

fix: removed config for storybook error on launch
  packages/components-react/vite.config.ts
  packages/storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --fix

fix: removed unneccesary css, added fix for visited and active link color
  packages/components-react/src/link/Link.css
  packages/components-react/src/link/Link.tsx
  packages/storybook/src/react-components/link/link.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --fix, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  markdownlint: any of: *.md
  prettier --check: any of: *.md
  eslint --no-error-on-unmatched-pattern: any of: *.{js,json,jsx,mdx,ts,tsx}
  prettier --fix: (any of: *.{js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
